
<img src="..." class="img-fluid" alt="...">

<div class="container">
    <p>Looking for an investment avenue that carries low risk and delivers high returns? Hybrid Mutual Funds is the answer. In the following article, we’ve explained the same in detail, listing some of the best hybrid funds you can consider investing in 2020.</p>

    <br>
    <h4>What are Hybrid Mutual Funds?</h4>
    <p>Mutual Fund Schemes that invest in a mix of equity and debt securities are known as Hybrid Funds. These funds balance out the risk and returns of both Equity and Debt Funds through diversification in different asset classes. The risk exposure of a Hybrid Fund depends on its investment stance and asset allocation amongst equity and debt.</p>

    <br>
    <h4>List of Best 5 Hybrid Funds</h4>
    <p>Here is a list of top 5 Hybrid Funds one can consider investing in:</p>
    <p>TABLE</p>

    <br>
    <h4>What are the Different Types of Hybrid Mutual Funds?</h4>
    <p>Securities and Exchange Board of India has categorized Hybrid funds into 6 classes:</p>
    <ol>
        <div *ngFor = "let content of diffHybrid">
            <li><b>{{content.point}} : </b>{{content.desc}}</li>
        </div>
    </ol>

    <br>
    <h4>Who should invest in Hybrid Mutual Funds?</h4>
    <ul>
        <div *ngFor = "let content of whoInvest">
            <li>{{content.li}}</li>
        </div> 
    </ul>

    <br>
    <h4>What are the Benefits of Investing in Hybrid Funds?</h4>
    <ul>
        <div *ngFor = "let content of whyInvest">
            <li>{{content.li}}</li>
        </div>
    </ul>

    <br>
    <h4>Things to Consider before Investing in Hybrid Funds</h4>
    <ol>
        <div *ngFor = "let content of beforeInvestHy">
            <li><b>{{content.point}}</b></li>
            <p>{{content.desc}}</p>
        </div>
    </ol>

    <br>
    <h4>How to Invest in this Fund Online?</h4>
    <ul>
        <div *ngFor = "let content of howInvestHy">
            <li>{{content.li}}</li>
        </div>
    </ul>

    <br>
    <h4>Why ShagunCapital?</h4>
    <ul>
        <div *ngFor = "let content of whyShagun">
            <li>{{content.li}}</li>
        </div>
    </ul>

    <br>
    <h4>Frequently Asked Questions (FAQs)</h4>
    <div *ngFor = "let content of faq">
        <p><b>Q. {{content.ques}}</b></p>
        <p><b>A. </b>{{content.ans}}</p>
    </div>
    <p><b>Q. How are hybrid funds taxed?</b></p>
    <p><b>A. </b>Taxation on Hybrid Funds depends on the equity and debt exposure of the fund. The equity component is taxed like equity funds, where Short Term Capital Gains Tax of 15% is levied on investments held for less than one year. If held for more than a year, Long Term Capital Gains Tax of 10% is levied on profits made above ₹1 lakh.</p>
    <p>The debt component is taxed like debt mutual funds. STCG tax as per the income tax slab of the investor is levied if investment is held for less than 3 years. LTCG tax of 20% with the benefit of indexation is levied if fund units are held for more than 3 years.</p>
    
    <p><b>Q. What are the best aggressive hybrid equity funds?</b></p>
    <p><b>A. </b>Below is a list of the best aggressive hybrid equity funds an investor can consider investing in:</p>
    <ol>
        <li>Mirae Asset Hybrid Equity Fund</li>
        <li>Reliance Equity Hybrid Fund</li>
        <li>Principal Hybrid Equity Fund</li>
        <li>ICICI Prudential Equity & Debt Fund</li>
    </ol>

    <p><b>Here is a List of Top Performing Hybrid/Balanced Funds to Invest in FY 2021:</b></p>
</div>