.how-section1{
    margin-top: 2px;
    padding: 5%;
    height: fit-content;
  }
.how-section1 h4{
    font-size: 40px;
    font-weight: 700;
    color: #1b1dc7;
    margin-bottom: 16px;
  }
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
  }
.how-section1 .row
  {
    margin-top: 3%;
  }
.how-img 
  {
    text-align: center;
  }
.how-img img{
    width: 40%;
  }
.buttonsave
  {
    border-radius: 8px;
    background: #1b1dc7;
    padding: 18px 32px 18px 32px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    float: left;
    position: relative;
  }
.content
  {
    padding-right: 30%;
    padding-left: 3%;
    /* width: fit-content; */
  }










  @media screen and (max-width: 768px){
    .product-showcase_productShowCaseList__2XkQq {
        grid-row-gap: 26px;
        row-gap: 26px;
        background-color: #eff0f3;
        padding: 18px 25px 0;
        margin-left: -30px;
        margin-right: -30px;
    }}
    @media screen and (max-width: 768px){
    .product-showcase_productShowCaseList__2XkQq, .product-showcase_productShowCaseListItem__1K4rW {
        grid-template-columns: repeat(1,100%);
    }}
    .product-showcase_productShowCaseList__2XkQq {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-row-gap: 45px;
      row-gap: 45px;
      background-color: #f5f5f5;
    }
    .t_body_top_margin {
      margin-top: 20px;
    }
    @media screen and (max-width: 768px){
    .product-showcase_productShowCaseListItem__1K4rW {
        padding: 0 0 19px;
    }}
    @media screen and (max-width: 768px){
    .product-showcase_productShowCaseList__2XkQq, .product-showcase_productShowCaseListItem__1K4rW {
        grid-template-columns: repeat(1,100%);
    }}
    .product-showcase_productShowCaseListItem__1K4rW {
      display: grid;
      grid-column-gap: 24px;
      -webkit-column-gap: 24px;
      -moz-column-gap: 24px;
      column-gap: 24px;
      border-bottom: 1px dashed #516081;
    }
    @media screen and (max-width: 768px){
    .product-showcase_listTitleContainer__1kfqf {
        grid-template-columns: none;
    }}
    .product-showcase_listTitleContainer__1kfqf {
        display: grid;
        grid-column-gap: 24px;
        grid-template-columns: 74px 1fr;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 12px;
    }
    
    @media screen and (max-width: 768px){
    .product-showcase_productShowCaseListTitle__s5qlg, .product-showcase_productShowCaseSub__1Xt6E {
        margin-bottom: 0;
        margin-left: 11.5px;
    }}
    .product-showcase_productShowCaseListTitle__s5qlg, .product-showcase_productShowCaseSub__1Xt6E {
        margin: 0 0 12px;
    }
    @media screen and (max-width: 768px){
    .t_h3_heading, .t_h3_heading_primary {
        font-size: 13px;
    }}
    .t_h3_heading, .t_h3_heading_primary {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.67;
        letter-spacing: -.18px;
    }
    .t_color_primary, .t_h3_heading_primary {
        color: #264a9f;
    }
    .h3, h3 {
        font-size: 1.75rem;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: .5rem;
        font-weight: 800;
        line-height: 1.2;
        font-family: Mulish,sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: .5rem;
    }
    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    @media screen and (max-width: 768px){
    .product-showcase_productShowCaseListDesc__Xlk4s {
        padding-right: 0;
        max-width: 100%;
        position: unset;
    }}
    .product-showcase_productShowCaseListDesc__Xlk4s {
        padding-right: 40px;
        position: relative;
        top: -26px;
        left: 97px;
        max-width: 85%;
    }
    @media screen and (max-width: 768px){
    .t_text, .t_text_small {
        font-size: 13px;
        line-height: 1.54;
    }}
    .t_text, .t_text_small {
        font-size: 1.1em;
        line-height: 1.56;
        letter-spacing: normal;
        font-family: Mulish,sans-serif;
        font-weight: 100;
        content: justify;
        color: #444;
    }
    .product-showcase_productShowCaseListItem__1K4rW:nth-child(2n) {
      padding-left: 39.5px;
    }
    .product-showcase_productShowCaseListItem__1K4rW {
      display: grid;
      grid-column-gap: 24px;
      -webkit-column-gap: 24px;
      -moz-column-gap: 24px;
      column-gap: 24px;
      border-bottom: 1px dashed #516081;
    } */
    
    
    .t_heading_margin {
      margin-bottom: 10px;
    }
    
    .t_heading_primary {
    color: #264a9f;
    }
    
    .t_heading, .t_heading_primary, .t_heading_secondary {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: -.7px;
    }
    
    .h2, h2 {
    font-size: 2rem;
    }
    
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    }
    
    h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    }
    
    h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }
    
    .product-showcase_productShowCase__bCG48 {
    background-color: #eff0f3;
    padding: 45px 0;
    }
    
    .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    }
    
    p {
    margin-top: 0;
    margin-bottom: 1rem;
    }
    p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Mulish,sans-serif;
    }
    
    .product-showcase_listTitleContainer__1kfqf {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: 74px 1fr;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 12px;
    }
    
    .product-showcase_productShowCaseListTitle_s5qlg, .product-showcase_productShowCaseSub_1Xt6E {
    margin: 0 0 12px;
    }
    
    .t_h3_heading, .t_h3_heading_primary {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: -.18px;
    }
    
    .t_color_primary, .t_h3_heading_primary {
    color: #264a9f;
    }
    
    .h3, h3 {
    font-size: 1.75rem;
    }
    .t_text, .t_text_small {
    font-size: 1.1em;
    line-height: 1.56;
    letter-spacing: normal;
    color: #071e54;
    font-weight: 100;
    }
    .product-showcase_productShowCaseListItem__1K4rW:nth-child(2n) {
    padding-left: 39.5px;
    }
    .product-showcase_productShowCaseListItem__1K4rW {
    display: grid;
    grid-column-gap: 24px;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    border-bottom: 1px dashed #516081;
    }
    .product-showcase_applyRightBorder__3R8Mq {
    border-right: 1px dashed #516081;
    }
    .product-showcase_productShowCaseListDescContainer__18jAZ {
    margin: 0 0 41px;
    }
    .product-showcase_productShowCaseListDesc__Xlk4s {
    padding-right: 40px;
    position: relative;
    top: -26px;
    left: 97px;
    max-width: 85%;
    }
    .product-showcase_productShowCaseList__2XkQq {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 45px;
    row-gap: 45px;
    }
    .t_body_top_margin {
    margin-top: 20px;
    }
    
    .t_sub_heading_primary {
    color: #617091;
    }
    .t_sub_heading, .t_sub_heading_primary {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: -.18px;
    }
    
    .product-showcase_productShowCaseListItem__1K4rW img {
    width: 76px;
    height: 76px;
    }
    img {
    overflow: hidden!important;
    -webkit-object-fit: cover!important;
    object-fit: cover!important;
    }
    img {
    vertical-align: middle;
    border-style: none;
    }
    img {
    overflow-clip-margin: content-box;
    overflow: clip;
    }
    @media screen and (max-width: 768px){
    .product-showcase_productShowCaseList__2XkQq {
        grid-row-gap: 26px;
        row-gap: 26px;
        background-color: #eff0f3;
        padding: 18px 25px 0;
        margin-left: -30px;
        margin-right: -30px;
    }}
    @media screen and (max-width: 768px){
    .product-showcase_productShowCaseList__2XkQq, .product-showcase_productShowCaseListItem__1K4rW {
        grid-template-columns: repeat(1,100%);
    }}
    .product-showcase_productShowCaseList__2XkQq {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-row-gap: 45px;
      row-gap: 45px;
    }
    .t_body_top_margin {
      margin-top: 20px;
    }
    @media screen and (max-width: 768px){
    .product-showcase_productShowCaseList__2XkQq, .product-showcase_productShowCaseListItem__1K4rW {
        grid-template-columns: repeat(1,100%);
    }}
    .product-showcase_productShowCaseListItem__1K4rW {
        display: grid;
        grid-column-gap: 24px;
        -webkit-column-gap: 24px;
        -moz-column-gap: 24px;
        column-gap: 24px;
        border-bottom: 1px dashed #516081;
    }
    