<div class="how-section1 container">
    <div class="row">
        
        <div class="col-md-6">
            <h4>Gold Funds</h4>
            <br>
                        <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Freedom to work on ideal projects. On GetLance, you run your own business and choose your own clients and projects. Just complete your profile and we’ll highlight ideal jobs. Also search projects, and respond to client invitations.
                                Wide variety and high pay. Clients are now posting jobs in hundreds of skill categories, paying top price for great work.
                                More and more success. The greater the success you have on projects, the more likely you are to get hired by clients that use GetLance.</p>

            <br>
            <button type="button" class="btn btn-primary btn-lg buttonsave">Contact Us</button>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
</div>
<app-sip-util > </app-sip-util>

<div class="container">
    <div class="content">
    <br>
    <h4>What is Gold Fund?</h4>
    <p>A family floater health insurance is a contract between you and the insurance company wherein, the company meets the medical expenses of the entire family in lieu of the annual premium paid by you. As part of this health insurance, the company pays for the expenses in case of any medical emergency.</p>
    <p>Under a family floater health insurance, a single health plan covers the entire family, and you pay one common premium for every family member. It usually covers a family of four members, which include the policyholder, his/her spouse, and up to four children. However, some plans also provide risk coverage for the policyholder’s parents and parents-in-law. Extended family (with in-laws) can also be covered in the family floater by paying some additional premium.</p>

    <br>
    <h4>Gold Funds</h4>
    <p>Almost all health insurance companies in India provide family floater health plans. Some of the companies are:</p>
    <ul>
        <li>ICICI Lombard</li>
        <br>
        <li>Max Bupa</li>
        <br>
        <li>HDFC Ergo</li>
        <br>
        <li>Star Health</li>
    </ul>

    <br>
    <h4>What is the Purpose of a Gold Fund?</h4>
    <p>The primary purpose of a retirement savings fund is to create a steady source of revenue for an investor when he or she does not have a source of income. It can be considered as a form of deferred pay, providing financial security and enough capital to pay for the necessities of individuals.</p>
    <p>Most pension funds offer the option to receive the returns as either monthly annuity, or in a lump sum amount. Monthly annuity is paid at a fixed rate, in most cases including inflation protection. It is one of the most important advantages as an investor receives the return from their retirement fund adjusted to present denomination.</p>
    <p>Lump sum payments disburse the total amount of accumulated wealth to the investor after he or she retires. It allocates a substantial financial backing, however, removes the regular source of return from monthly annuity payments.</p>

    <br>
    <h4>Who Should Invest In A Gold Fund?</h4>
    <p>Pension plans offer a source of finance to pay for everyday necessities as well as any unforeseen circumstances. These mutual fund retirement plans carry much less risk than other forms of investments, making them ideal to secure assured returns for senior citizens.</p>
    <p>Moreover, an investor can choose from several different types of pension funds available in India, allowing them to plan according to their unique financial needs.</p>
    <p>There are primarily 3 different plans one can choose from. The most popular plan solely invests in debt profiles, making them extremely safe and ideal for a conservative borrower. There are also plans that are unit-linked, investing in both equity, and debt profiles equally. These present slightly higher risk, however, offer higher returns as well.</p>
    <p>On the other hand, investors can also opt for National Pension Schemes, Government-backed retirement funds. This scheme allows investment in both debt and equity market according to an investor’s preference; one can also withdraw 60% of the total fund at the time of retirement and utilise the remaining 40% as annuity payment. The maturity amount is tax-free.</p>

    <br>
    <h4>What Should be the Mode of Investing?</h4>
    <p>There are primarily 2 ways to invest in these types of the fund; one can either choose to make a one-time lumpsum investment or opt to invest via a Systematic Investment Plan (SIP).</p>
    <ul>
        <li>One time investment – One-time investment, or lumpsum investment, is a process where an investor capitalises a substantial amount at one go. This method is usually preferred by individuals with a healthy cash reserve and higher risk appetite.</li>
        <br>
        <li>SIP – Also known as Systematic Investment Plan, SIPs involve investing a certain sum of money every month till an investor fulfils his or her investment goal.</li>
        <br>
    </ul>
    <p>Both the above-mentioned processes offer certain merits as well as shortcomings. For example, lumpsum investments promise significantly higher returns with market appreciation. However, they are also exposed to more risks when compared to SIPs. Worth mentioning, only seasoned investors prefer such one-time investments.</p>

    <br>
    <h4>FAQs</h4>
    <b>Q1. What do you understand by a Health Card?</b>
    <p>A Health Card is a card provided at the time of issuing the health insurance policy. The card helps in identifying you so that you can get cashless hospitalisation at their network hospitals.</p>
    <br>
    <b>Q2. Should I opt for a separate family health plan if I am covered by my office?</b>
    <p>A personal family health plan is always recommended so that you can get it done according to your need and requirement. In case you change that job, your corporate health plan will also end and it might happen that your new plan does not include the needed coverage.</p>
</div>
</div>