<img src="..." class="img-fluid" alt="...">

<div class="container">
    <p>With advancement in medical facilities, the cost of medical treatment has increased drastically. Everyone wants to be healthy and happy, but life is unpredictable and anytime one can fall ill or suffer from some medical problem. To meet such sudden medical expenses, one needs an individual health insurance.</p>
    
    <br>
    <h4>What is Individual Health Insurance?</h4>
    <p>An individual health insurance policy is an insurance where the provider bears the expenses related to medical risks. Availing an individual health insurance helps manage expensive medical treatment without worrying about making a dent in the savings. Thus,  individuals do not have to bother about arranging for cash for getting quality medical treatment and managing other related expenses. It can also cover pre and post hospitalisation costs.</p>
    
    <br>
    <h4>What all Individual Health Insurance Covers?</h4>
    <p>Individual health insurance plans offer various types of coverage, so you should choose one according to your needs and requirements. Let us understand some of the coverage provided by individual health insurance:</p>
    <ul>
        <li>Most of the plans cover pre and post hospitalisation costs</li>
        <br>
        <li>Covers costs related to daycare treatments</li>
        <br>
        <li>Covers ambulance expenses</li>
        <br>
        <li>Covers medical expenses of the individual</li>
        <br>
        <li>Covers hospital room rent, cost of surgery, lab tests, etc.</li>
    </ul>

    <br>
    <h4>Eligibility Criteria</h4>
    <p>To avail the benefit of individual health insurance, a person must be at least 18 years of age. The insurance can also be bought for a child and the eligibility for them varies for different insurance providers.</p>

    <br>
    <h4>Individual Health Insurance Claim Process</h4>
    <p>In case of any eventuality, you need to contact the insurance provider to get the claim, which can be either cashless or reimbursement. When the insurance provider pays directly to the network hospital for the medical expenses , it is called cashless claim. When the insured pays for the medical expenses and is reimbursed later by the insurance provider, it is called reimbursement claim. You should be aware of the claim process to reap the benefits on time.</p>
    <ul>
        <li>For cashless claims, get hospitalised in a network hospital</li>
        <li>Inform the provider immediately either through mail or on toll free number</li>
        <li>The hospital will verify and send the details to the provider</li>
        <li>If accepted, after receiving the required documents, will make the payment directly to the hospital</li>
        <li>If rejected, the case will go under reimbursement</li>
        <li>In case of reimbursement claim, on discharge, the insured sends the required documents to  the provider</li>
        <li>After verification, the amount is transferred to the bank account of the insured</li>
        <li>If rejected even after resubmitting the needed documents, the insured can approach the court of law</li>
    </ul>

    <br>
    <h4>Documents Required for Claim Process</h4>
    <p>In order to get the claim work in your favour, you should provide the following documents on time:</p>
    <ul>
        <li>Duly filled in claim form</li>
        <li>Discharge summary</li>
        <li>Hospital bills</li>
        <li>Test reports</li>
        <li>KYC form</li>
        <li>Death summary, in case of death claim</li>
    </ul>

    <br>
    <h4>Cases Where You Can’t Claim Individual Health Insurance (Exclusions)</h4>
    <p>Individual health insurance comes with various features and benefits. However, certain cases and situations are not covered under this plan, also called exclusions. These vary for different insurance providers. Let us look at some of them :</p>
    <ul>
        <li>Some of the pre-existing diseases</li>
        <li>Any disease that strikes during the first 30 days of buying the plan</li>
        <li>Treatment for problems related to addictive substances</li>
        <li>Maternity coverage given a certain period of time</li>
        <li>Certain diseases like hernia, piles covered after a certain period of time</li>
    </ul>

    <br>
    <h4>Important Aspects</h4>
    <p>Always make sure to understand the individual health insurance plan well before buying one:</p>
    <ul>
        <li>Compare the insurance companies and the plans to get the one with maximum features and benefits</li>
        <li>Understand the exclusions under the plan so that you don’t regret later</li>
    </ul>

    <br>
    <h4>Advantages of Buying Individual Health Insurance</h4>
    <ul>
        <li>Protects from sudden medical costs during emergency</li>
        <li>You can save tax up to an amount of Rs 1 lakh under Sec 80D of the Income Tax Act, 1961</li>
        <li>Offers health check-ups as part of the plan</li>
    </ul>

    <p>You get bonus on your insured amount, if you do not make any claims the previous year</p>

</div>