<img src="..." class="img-fluid" alt="...">
<br>

<div class="container">
    <p>Systematic Investment Plan (SIP) is a mode of investment in mutual funds in which a consumer can invest money in a scheme via periodic installments over a period of time. It is not a mutual fund scheme but a mode of investment into a Mutual Fund of your choice.</p>

    <br>
    <h4>What is SIP in Mutual Fund?</h4>
    <p>A Systematic Investment Plan (SIP) is an alternative to the traditional lump sum mode of investment. Under a SIP, a certain amount is deposited in a mutual fund scheme at periodic intervals. A SIP helps an investor to benefit from the power of compounding and rupee cost averaging while keeping the periodic investment requirement light on the pocket as a SIP can be started with an amount as low as Rs. 100 or Rs 500.</p>

    <br>
    <h4>Who Should Invest?</h4>
    <ul>
        <li>Investors who are looking for long-term investment with the objective of wealth creation. Although SIP can be adopted for investing in debt funds, it is a more suitable form of investment in equities. It is advisable to stay invested for a minimum of 3-5 years and avoid short-term investment</li>
        <li>If you want to invest in mutual fund but can’t afford to cough a large amount at once, then you can start investing through SIP with minimum monthly installment of as low as ₹100 or ₹500 (it differs for every scheme)</li>
        <li>If you want to make your investments hassle free by giving a one time mandate to your bank for automated debit of the SIP amount for instead of actively deciding to buy units (and losing out on rupee cost averaging)</li>
        <li>If you are a novice and do not particularly understand equity markets, investing through SIPs could shield you from a sudden crash in markets.</li>
        <li>Investing via SIPs will help you benefit from the power of compounding as you continue to invest and also rupee cost averaging where the prices of units balance out over time</li>
        <li>SIP also helps one develop an investment discipline as it pushes you to become a regular investor. When it comes to ELSS one can also become a disciplined saver</li>
    </ul>

    <br>
    <h4>How do SIPs work?</h4>
    <p>Each time an investor makes a payment, the fund manager purchases more units of the assets (shares and securities) of the firms the fund is invested in. This gradually increases the number of units owned by the investor and hence SIPs are suitable for the long term. There are several advantages of investing through SIP as explained next.</p>

    <br>
    <h4>Benefits of Investing via Systematic Investment Plan (SIP)</h4>
    <ul>
        <li><b>Small Installment Amount</b></li>
        <p>SIPs allow investors to invest with amounts as low as Rs. 100 or 500 at regular intervals. This helps them to invest without any financial burden as well as reduces the financial risk associated with lump sum investments.</p>
    
        <li><b>Rupee Cost Averaging</b></li>
        <p>Through SIP, one invests periodic amounts instead of a larger sum. The fund manager can purchase more units of market-linked instruments (equities and debt) every time. More units are bought when stock prices are low and vice versa. Thus, a SIP enables you to lower the average cost of your investment and reduce the risk associated with market volatility by spreading the purchase price over time. This is known as rupee cost averaging</p>
    
        <li><b>Power of Compounding</b></li>
        <p>A SIP enables you to regularly increase your investment amount by a fixed amount. The returns are calculated on the amount invested plus the previous returns. Thus, the returns are compounded and this is the power of compounding of a SIP.</p>
    </ul>

    <br>
    <h4>SIP or One-time: How Should I Invest?</h4>
    <p>Considering the above mentioned advantages, it is beneficial to stay invested through SIP mode of mutual fund investment. Also, SIP mode is light on pocket and investors with low monthly salary can also invest in mutual funds.</p>

    <br>
    <h4>Types of SIP</h4>
    <img src="..." class="img-fluid" alt="...">
    <ol>
        <li><b>Top-up SIP: </b>This SIP allows you to increase the SIP amount at regular intervals and take advantage of a well-performing mutual fund scheme by increasing your investment amount. For example, if your SIP is Rs 10,000 per month in June 2019, you can increase it to any amount, say Rs 11,000 per month in July 2019 or any other succeeding month under Top-up SIP</li>
        <li><b>Flexible SIP: </b>This SIP allows you to increase or decrease the SIP amount as per your disposable income. Thus, with this SIP, you can decrease or skip the payment of a few installments when there is a cash crunch. Similarly, this mode also allows you to increase the SIP amount during an increase in cash inflows</li>
        <li><b>Perpetual SIP: </b>While making a SIP investment, investors have a choice to provide the end date of the SIP. If the investor chooses to not give an end date then it is a perpetual SIP. This allows you to end your SIP at the time of your choice or when your financial goal is achieved since there is no fixed tenure attached.</li>
        <li><b>Trigger SIP: </b>This SIP is better suited for investors who have knowledge and awareness of financial markets. It allows you to set either an index level, NAV or a particular date as the start date of the SIP. However, it is not advisable to invest via a trigger SIP as it is essentially an attempt to time the market which is nearly impossible to do with 100% accuracy</li>
    </ol>

    <br>
    <h4>Top 10 Systematic Investment Plans (SIPs) for 2020</h4>
    <p>SIP can be adopted as a way of payment for any mutual fund. Listing down best mutual funds for SIP for FY 2020:</p>
    <p><b>TABLE</b></p>

    <br>
    <h4>Taxation</h4>
    <p>The tax on SIPs depends on the nature of the mutual fund scheme – equity or non-equity. You can read about the tax treatment of equity and non-equity mutual funds <a>here</a>.</p>
    <p>Mostly SIPs are used for equity funds and as per tax rules of all equity funds, capital gains up to Rs. 1 Lakh (after 1 year) are exempted from taxation, and the rest are taxed at 10% as per the taxation norms of Equity Funds. For example, an investor makes capital gains of Rs. 2 Lakh, then Rs. 1 Lakh is exempted from tax and the remaining Rs. 1 Lakh will be taxed at 10%. Thereby, the payable tax at remaining rs. 1 Lakh is Rs. 10,000.</p>
    <p>If the s/he redeems the fund in less than a year (ELSS are locked in for 3 years), then the capital gains will be taxed at 15% and no tax exemption will be provided. In that case, the payable tax on Rs. 2 Lakh of gains would be Rs. 30,000.</p>

    <br>
    <h4>How to Invest via SIPs</h4>
    <ul>
        <li><b>Offline mode of investing – </b>If you are not confident of your knowledge, you may choose to invest through a broker. However, investing in a fund through a broker will make you eligible for investments through regular plans that offer different returns and varied expenses in investment. If you wish to invest in the fund independently, you must visit the nearest branch of the AMC of your fund. Don’t forget to carry the following documents-</li>
        <ul>
            <li>Identity Proof (Aadhar Card)</li>
            <li>Canceled cheque</li>
            <li>Passport size photos (around 4-5)</li>
            <li>PAN Card</li>
            <li>KYC documents (for KYC verification)</li>
        </ul>
        <p>You can fill forms and update the bank for money deduction of a certain amount on a certain date of every month for SIP of an mutual fund scheme.</p>
        <li><b>Online mode of investing – </b>If you do not wish to add on to your expense of commissions or brokerage, you may visit online investment platforms such as Paisabazaar.com wherein you can choose from and compare more than 1,700 funds- all in one place, instead of following the long procedure of visiting the website of each AMC. You can then take the SIP route of any mutual fund scheme, fix the date for money transaction from the account as well as the amount for the same. You can also choose multiple schemes as well.</li>
        
    </ul>
    <p><i><b>For detailed information on how to invest in mutual funds, <a>click here</a></b></i></p>

    <br>
    <h4>3 SIP Investment Mistakes You Should Avoid</h4>
    <p>Be mindful of the following mistakes while making a SIP mutual fund investment so that you can create and appreciate your wealth to maximum levels:</p>
    <ul>
        <li><b>Investing too small or too big amount: </b>It is often observed that many investors invest a very small amount via a SIP. It is fine to begin with a small amount in the beginning, however, the investment amount should be gradually increased to reap in substantial gains. Similarly, many investors begin a SIP investment with considerably huge amounts. This approach must be avoided and huge sums must be invested once the investor has enough confidence about the performance of the fund. An investor should always try to invest an amount optimal according to their financial position and investment objectives.</li>
        <li><b>Not investing for long term: </b>Investors often withdraw their investment as soon as it starts giving a decent return, failing to realise that the value of a SIP investment also depends on the SIP time period. A SIP investment is capable of giving its maximum returns over a long tenure. Thus, it is advisable to remain invested for at least 3-5 years in order to earn some real good returns.</li>
        <li><b>Not increasing SIP amount with time: </b>Another mistake which investors often end up committing is they fail to increase the SIP amount with time. With an increase in disposable income, an investor should increase the SIP contribution in order to continue receiving inflation-beating returns. This must be done when an investor is confident about the fund’s performance.</li>
    </ul>

    <br>
    <h4>How to Calculate Monthly SIP Returns in Excel</h4>
    <p>Let’s assume you invested ₹1,000 every month on a particular date in a mutual fund scheme through SIP. If you started investing in January 2019, then you have already invested ₹12,000 till December. For instance, you checked the market value of your units through investments on January 20, 2020 that stands out as ₹15,000. It means you have earned a return of 48.92% on your invested money.</p>
    <img src="..." class="img-fluid" alt="...">

    <br>
    <h4>Frequently Asked Questions (FAQs)</h4>
    <div *ngFor = "let content of faq">
        <p><b>Q. {{content.ques}}</b></p>
        <p><b>A. </b>{{content.ans}}</p>
    </div>

    <br>
    <h4>SIP Calculator</h4>
    <p>In order to be a successful investor, it is paramount that investments are made in a systematic manner and this is where the SIP calculator provided by Paisabazaar.com can play a key role. A prospective investor can use a SIP calculator to figure out how much his/her investment will grow at the end of a specific tenure for a specific amount. Alternately, if the investor has a fixed goal in mind such as a corpus for retirement or buying a house, a SIP calculator can help him/her find out how much monthly investment is required in order to achieve that corpus timely.</p>
</div>





