<div class="container">
    <h4 class="headings">Tax Management</h4>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Tax management services are services provided by professional tax advisors or accounting firms to help individuals and organizations manage their tax liabilities and obligations. These services can include tax planning, tax preparation, tax representation, and tax compliance.</p>

            </div>
            <div class="col-md-4 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-4 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
            </div>
            <div class="col-md-6">
                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Tax planning involves advising clients on the most tax-efficient ways to structure their finances and investments in order to minimize their tax liabilities. Tax preparation involves the preparation and filing of tax returns, including the calculation of taxes owed or the amount of a tax refund.</p>

            </div>
            
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">

                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Tax representation services are offered to clients who are facing tax disputes with government agencies, such as the Internal Revenue Service (IRS) in the United States. Tax representatives can provide guidance on the dispute resolution process and represent clients in negotiations or court proceedings.</p>

            </div>
            <div class="col-md-4 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            <div class="col-md-4 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
            </div>
            <div class="col-md-6">

                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Tax compliance services help organizations ensure that they are in compliance with applicable tax laws and regulations. This can include the preparation of tax returns, the calculation of taxes owed, and the payment of taxes.</p>

            </div>
            
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">

                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Tax management services can be beneficial for individuals and organizations of all sizes, especially those with complex financial and tax situations. By using professional tax management services, clients can reduce the risk of errors or penalties, take advantage of tax savings opportunities, and have the peace of mind that their tax affairs are in order.</p>

            </div>
            <div class="col-md-4 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
    </div>
    
</div>