<div class="how-section1 container">
    <div class="row">

        <div class="col-md-6">
            <h4>SIP Calculator</h4>
            <br>
            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Freedom to work on ideal projects. On GetLance, you run your own business and choose
                your own clients and projects. Just complete your profile and we’ll highlight ideal jobs. Also search
                projects, and respond to client invitations.
                Wide variety and high pay. Clients are now posting jobs in hundreds of skill categories, paying top
                price for great work.
                More and more success. The greater the success you have on projects, the more likely you are to get
                hired by clients that use GetLance.</p>

            <br>
            <button type="button" class="btn btn-primary btn-lg buttonsave">Contact Us</button>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid"
                alt="" />
        </div>
    </div>
</div>

<section class='pe-user-calculate-box' id='inflation-container'>
    <div class='container' id='calculator-section'>
        <div class='pe-ppf-calculator' id='inflation-container'>
            <div class='row'>
                <div class='col-md-12 col-lg-5'>
                    <div class='pe-calculator-box ppf-calculator'>
                        <h2 class='pe-h2'>
                            SIP Calculator
                        </h2>
                        <form>
                            <div class='form-group'>
                                <label class='pe-label' for=''>Monthly Investment Amount</label>
                                <input aria-describedby='' class='form-control sb-comma-input pe-amount-input pe-box'
                                    id='investmentAmount' maxlength='12' placeholder='Amount' type='text'
                                    value='10,000'>
                            </div>
                            <div class='form-group'>
                                <label class='pe-label' for=''>Expected Growth Rate</label>
                                <input aria-describedby='' class='form-control sb-comma-input pe-amount-input pe-box'
                                    id='rateOfReturn' maxlength='12' placeholder='Amount' type='text'
                                    value='6.5%'>
                            </div>
                            <div class='form-group'>
                                <label class='pe-label' for=''>Investment Duration</label>
                                <input aria-describedby='' class='form-control sb-comma-input pe-amount-input pe-box'
                                    id='investmentPeriod' maxlength='12' placeholder='Amount' type='text'
                                    value='5 Years'>
                            </div>
                            <div class='form-group'>
                                <label class='pe-label' for=''>Step Up</label>
                                <input aria-describedby='' class='form-control sb-comma-input pe-amount-input pe-box'
                                    id='ppf-amount-input' maxlength='12' placeholder='Amount' type='text'
                                    value='10%'>
                            </div>
                            <!-- <div class='inflation-error'>
                                Amount should be greater than 0
                            </div> -->
                        </form>
                    </div>
                    <div class='inflation-input-box'>
                        <div class='pe-form-wrap'>
                            <form>
                                <form>
                                    <div class='input-section'>
                                        <label class='infy-label'>
                                            What if you invested that same amount?
                                        </label>
                                    </div>
                                    <div class='second-output-section'>
                                        <div class='input-section'>
                                            <div class='row'>
                                                <div class='col-md-9 col-lg-9 col-sm-9'>
                                                    <label>The number of years of Investment</label>
                                                </div>
                                                <div class='col-md-3 col-lg-3 col-sm-3'>
                                                    <div class='border-box'>
                                                        <span class='year-of-investment-js'>0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='input-section'>
                                            <div class='row'>
                                                <div class='col-md-9 col-lg-9 col-sm-9'>
                                                    <label>Expected rate of Return(%)</label>
                                                </div>
                                                <div class='col-md-3 col-lg-3 col-sm-3'>
                                                    <input class='form-control' pattern='\d*' placeholder='' readonly
                                                        required tabindex='0' type='text' value='11.25%'>
                                                </div>
                                            </div>
                                        </div>
                                        <p>At the end of that time horizon, you could have</p>
                                        <span class='amt-end-of-time-horizon'>0</span>
                                    </div>
                                </form>
                            </form>
                        </div>
                    </div>
                </div>
                <div class='col-md-12 col-lg-7'>
                    <div class='pe-map-wrap'>
                        <div class='pe-map'>
                            <div id='highcharts-inflation-chart'></div>
                            <!-- <div style="display: block">
                    <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true">
                    </canvas>
                </div> -->
                            <div>

                            </div>
                        </div>
                    </div>
                    <div class='pe-mutual-fund-sip-calculation-wrapper'>
                        <div class='row'>
                            <div class='col-md-7 col-lg-7 col-sm-7'>
                                <div class='first-output-section'>
                                    <p class='firsttext'>After 5 years, you will have</p>
                                    <span class='output-js'>0</span>
                                    <p>
                                        <i>that’s ₹ 9,94,951 as potential capital gains
                                            on your investment of ₹ 58,60,896</i>
                                    </p>
                                </div>
                            </div>
                            <div class='col-md-5 col-lg-5 col-sm-5'>
                                <div class='inflation-btn'>
                                    <a class='sb-primary-cta-button offering-smooth-scroll-tag trigger-event j-trigger-mr cta-data-btn-js'
                                        data-action='CTAClick' data-category='Plan' data-label='inflation-calculator'
                                        href='/plan/sip-calculator?ref=organic-inflation-calculator' rel='nofollow'>
                                        Start Investing Now
                                    </a>
                                </div>
                            </div>
                            <div class='col-md-6 col-lg-6 col-sm-6'>
                                <div id="chartContainer" style="width: 100%; height: 495px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="contaniner">
    <div class="content">
        <br>
        <h4><b>What is SIP Calculator?</b></h4>
        <p>SIP (Systematic Investment Plan) Calculator is a financial tool that helps investors to calculate the future value of their investments made through SIP (Systematic Investment Plan). It takes into account the regular investment amount, the frequency of investment, and the expected rate of return to calculate the maturity value of the investment. This calculator is used to estimate the amount that an individual can accumulate by investing a fixed amount regularly over a specified period, which can help in planning for long-term financial goals.</p>
        <br>
        <h4><b>How does the SIP Calculator work?</b></h4>
        <p>A SIP (Systematic Investment Plan) Calculator is a tool used to calculate the future value of regular investments made over a period of time, taking into account the effects of compound interest. It works by taking inputs such as the amount of investment, frequency of investment, and expected rate of return and calculates the estimated maturity value at the end of the investment period. The calculation is based on mathematical formulas that account for the compounding effect of interest over time. The output of the calculator provides an estimate of the future value of the investment, which can help investors make informed decisions about their investment portfolio.</p>
        <br>
        <h4><b>How is SIP return calculated?</b></h4>
        <p>SIP (Systematic Investment Plan) return is calculated based on the underlying investment. If the investment is in equity mutual funds, the return is influenced by the performance of the stock market and the fund manager's investment strategy. If the investment is in debt funds, the return is influenced by the interest rate and credit risk. The actual return on SIP investment is the compounded return, which takes into account the principal amount, frequency of investment, and the rate of return over the investment period.</p>
        <br>
        <p>The formula for calculating SIP return is as follows:</p>
        <p>R = (P * (1 + r/n)^(nt)) / P0</p>
        <p>Where:</p>
        <ul>
            <li>R = Return on investment</li>
            <li>P = Principal amount invested at the end of the investment period</li>
            <li>r = Rate of return</li>
            <li>n = Number of times the investment is compounded in a year</li>
            <li>t = Number of years for which the investment is made</li>
            <li>P0 = Principal amount invested at the beginning of the investment period</li>
        </ul>
        <p>For example, if you invest INR 5000 per month for 5 years at an annual return of 10%, the calculation for SIP return would be as follows:</p>
        <p>R = (5000 * (1 + 0.10/12)^(12 * 5)) / (5000 * 12 * 5)</p>
        <p>R = INR 3,43,633.35 / INR 3,00,000</p> 
        <p>R = 1.14</p>
        <br>
        <p>This means that you would earn a return of 1.14 times your investment of INR 3,00,000, which would be INR 3,43,633.35.</p>
        <p>It's important to note that the actual return may vary based on various factors such as market conditions, investment strategy, inflation, and taxes.</p>
    </div>
</div>
