<img src="..." class="img-fluid" alt="...">

<div class="container">
    <p>Investment preferences of retail consumers have evolved since the inception of Mutual Funds. There are different types and categories of funds regularised by the Securities & Exchange Board of India (SEBI). One of the most preferred categories is Equity Mutual Funds, owing to potentially high returns they can provide. In this article, you will explore the different benefits, objectives and characteristics of Equity Mutual Funds.</p>
    <h4>What are Equity Funds?</h4>
    <p>The type of Mutual Fund schemes investing their assets into shares/stocks of different companies across market capitalisation, with an objective of generating higher returns is called Equity Mutual Funds. As regulated by SEBI, equity oriented funds invest at least 65% of the corpus into Equity related instruments and a minimum of 10% into debt. These funds are known for generating better returns as compared to debt funds but riskier due to the dependency on market conditions.</p>

    
</div>
