<img src="..." class="img-fluid" alt="...">

<div class="container">
    <h4 class="headings">What is a Mutual Fund?</h4>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Mutual funds are baskets of equities, stocks and bonds. They come in all shapes and sizes, from covering specific market cap to focusing specific sectors.</p>

            </div>
            <div class="col-md-4 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-4 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
            </div>
            <div class="col-md-6">
                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">The baskets are curated by experienced money managers for investors like us. The investment money is pooled from many investors. The funds are then allocated to specific investment objects like equity ( link to equity page on shagun), stocks, bonds, money market instruments and other assets.</p>

            </div>
            
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">

                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Mutual funds are great investment options for individual investors as we get exposure to expert managed portfolios. Also we get the perk of diversification, as the asset management company(AMC) will divide the portfolio in several instruments considerably reducing the risk. </p>

            </div>
            <div class="col-md-4 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
    </div>

    <div class="content">
        <h4 class="headings">Understanding Mutual Funds</h4><br>
        <p class="text-muted">Investing in mutual funds is different from investing in stocks. When you buy units of mutual funds, you actually buy a part of the portfolio of that fund. Then you experience gains and losses in the proportion of the total amount you invest. A share of a mutual fund represents investment in multiple stocks or securities rather than a single particular holding.<br><br>

            The value of a share of a mutual fund is referred to as net asset value (NAV). It is determined by dividing the total value of securities in the portfolio by the number of outstanding shares.<br>
            
            An average mutual fund holds more than 100 different instruments which sync with the investment objective of the fund. That’s why investment in mutual funds makes you very less susceptible to the risks of the stock market.
        </p><br>

        <h4 class="headings">Types of Mutual Funds</h4><br>
        <p class="text-muted">In India, mutual funds are classified into several categories, depending on the instruments they focus on the returns they seek. These days there is a fund for each investor or investment approach. There are sector funds, money market funds, funds of funds and many more. You can choose to invest in any of them if they sync in with your financial goals. We have broken down the types of mutual fund below :</p><br>

        <h6>EQUITY FUNDS</h6>
        <p class="text-muted">As the name suggests, equity funds focus on investing in equity shares of all companies. A mutual fund is categorised as an equity fund if 65% of its portfolio is invested in equity instruments. Equity funds are further classified into the following categories :</p>

        <ol>
            <b><li>Large-Cap Funds</li></b>
            <p class="text-muted">Large-Cap funds are those which predominantly invest in the equity or equity linked instruments of companies with large market capitalization.</p>

            <b><li>Mid-Cap Funds</li></b>
            <p class="text-muted">Mid-cap funds are those which primarily invest in the equity or equity linked instruments of companies with medium market capitalization.</p>

            <b><li>Small-Cap Funds</li></b>
            <p class="text-muted">Small cap funds are those which mostly invest in the equity or equity linked instruments of companies having small market capitalization.</p>

            <b><li>Multi-Cap Funds</li></b>
            <p class="text-muted">Multi-cap funds are those in which the fund manager/managers invest across companies with all market capitalizations. The goal here is to act according to market situations to reap max returns and reduce risk for investors.</p>

            <b><li>Index Funds</li></b>
            <p class="text-muted">These funds are focused on tracking the performance of popular financial market indexes such as S&P BSE, Nifty 50 and others. The returns of index funds are tied to the returns of their underlying index.</p>

            <b><li>ELSS</li></b>
            <p class="text-muted">Equity linked savings scheme(ELSS) is the only kind of mutual funds covered under the income tax act of 1961. Investors can claim up to Rs. 1,50,000 in tax deductions in a year by investing in ELSS.</p>
        </ol><br>

        <h6>DEBT FUNDS</h6>
        <p class="text-muted">Debt funds are mutual fund schemes that invest in fixed income assets such as corporate and government bonds, certificates of deposit and other high rated securities. A mutual fund is considered a debt fund if it invests 65% of its portfolio in debt securities.</p>
        <p class="text-muted">These funds are great for risk averse investors as the returns on this fund are not influenced by market fluctuations. They mostly have low cost structure and give reasonable safety with high liquidity.</p>

        <p class="text-muted">Debt funds have further following types :</p>
        <ol>
            <b><li>Dynamic Bond Funds</li></b>
            <p class="text-muted">Dynamic bond funds’ portfolio is changed according to the fluctuations in the interest rates.</p>

            <b><li>Short-Term and Ultra-Short Term Funds</li></b>
            <p class="text-muted">Short-Term and Ultra-Short Term funds are the mutual funds which focus on securities that mature in one to three years. They are meant for investors who don't want to take risks and earn predictable returns.</p>

            <b><li>Income Funds</li></b>
            <p class="text-muted">Income funds invest in securities that come with a long maturity period and therefore, provide stable returns over time. The average maturity period of these funds is five years.</p>

            <b><li>Liquid Funds</li></b>
            <p class="text-muted">These funds focus on investing in assets-securities which mature within a period of 91 days. Investors can park their surplus funds for a short term in these funds.</p>

            <b><li>Credit Opportunities Funds</li></b>
            <p class="text-muted">These are the riskiest class of debt funds which mostly invest in low-rated securities which have the potential to give higher returns.</p>

            <b><li>Gilt Funds</li></b>
            <p class="text-muted">Gilt Funds are debt funds which keep their portfolio in high rated government securities. This is the reason these funds have very low risk rates.</p>

            <b><li>Fixed Maturity Plans</li></b>
            <p class="text-muted">Fixed Maturity Plans (FMPs) are fixed tenure mutual funds investing in debt instruments which mature in accordance with the tenure of the scheme. The tenure can vary between a few months to a few years.</p>
        </ol><br>

        <h6>BALANCED Or HYBRID FUNDS</h6>
        <p class="text-muted">Balanced or hybrid funds invest across both equity and debt instruments. The main objective of the hybrid funds is to balance the risk-reward ratio. The fund manager allocates the fund in varying proportions to make it sync in with the investment objective of the fund.</p>
        <p class="text-muted">These funds give you the best of both worlds, debt and equity funds. Hybrid funds are further classified as follows: </p>

        <ol>
            <b><li>Equity-Oriented hybrid funds </li></b>
            <p class="text-muted">When a hybrid fund has its 65% portfolio invested in equity instruments and the rest in debt and money market instruments, then that mutual fund is referred to as equity oriented fund.</p>

            <b><li>Debt-Oriented balanced funds</li></b>
            <p class="text-muted">A hybrid fund is termed as debt-oriented if the fund manager allocates more than 65% of the fund portfolio towards debt instruments. The debt component of the fund contributes towards a stable return rate.</p>

            <b><li>Monthly Income Plans</li></b>
            <p class="text-muted">These funds invest majorly in debt instruments. A Monthly Income Plan (MIP) has an equity exposure as low as 15% to 20%. MIPs provide the investor with fixed income in form of dividends, the investor can pick the payout cycle as per his/her convenience. It can be monthly, quarterly or half-yearly.</p>

        </ol><br>

        <h6>ULIP FUNDS</h6>
        <p class="text-muted">ULIP or Unit Linked Insurance Plan ( link to insurance page on shagun capital) is a combination of life insurance and investment. A part of the premium paid by the investor is used in providing a life cover and the rest of the sum is invested. The policy holder has the opportunity to profit from the market situations along with having an insurance plan.</p>
        <p class="text-muted">ULIP funds also allow their investors to switch their investments from equity to debt funds without being charged or going post to pillar.</p><br>
        
        <h4 class="headings">How to invest in Mutual Funds?</h4><br>
        <p class="text-muted">You can invest in mutual funds through various ways. The most popular of them being SIP ( Systematic Investment Plan) ( Link to SIP page on shagun capital) . You can invest in mutual funds through mutual fund distributors , for which you can contact us ( Link to contact us page). </p>
        <p class="text-muted">Among the plethora of ways to invest in mutual funds, you can choose any. Investing with Shagun Capital will give you a humanized experience where you can connect with experts.</p>

    </div>
</div>