<div class="how-section1 container">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Life Insurance Planning</h4>
            <br>
                        <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Life insurance is a contract between an individual and an insurance company that provides financial coverage in the event of the policyholder's death. The policyholder pays a premium, and in return, the insurance company provides a death benefit to the designated beneficiaries. The purpose of life insurance is to provide financial security to the policyholder's loved ones and to help them maintain their standard of living in the event of the policyholder's death. It's an important component of financial planning, especially for those with dependents who rely on their income. When planning for life insurance, it's important to consider factors such as the amount of coverage needed, the type of policy, and the premium payments that fit within your budget.</p>

            <br>
            <button type="button" class="btn btn-primary btn-lg buttonsave">Contact Us</button>
        </div>
    </div>
</div>


<div class="container">
<h2 class="headings">Life insurance planning provides several benefits, including:</h2>
<ul>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <li class="text-muted">Financial security: The death benefit from a life insurance policy can help provide financial security to the policyholder's loved ones and help them maintain their standard of living in the event of the policyholder's death.</li>

            </div>
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <li class="text-muted">Debt repayment: The death benefit can be used to pay off debts, mortgages, and other financial obligations, which can reduce stress for the policyholder's loved ones.
            </li>

            </div>
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <li class="text-muted">Estate planning: Life insurance can be used to help manage the tax implications of an estate and can provide funds to pay estate taxes, which can help preserve the value of the estate for future generations.
            </li>

            </div>
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <li class="text-muted">Income replacement: If the policyholder was the primary source of income for their family, the death benefit from a life insurance policy can help replace that lost income, allowing their loved ones to maintain their standard of living.
            </li>

            </div>
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <li class="text-muted">Investment opportunity: Some types of life insurance policies, such as whole life insurance, also provide a cash value component that can be used as an investment opportunity.
            </li>

            </div>
        </div>
    </div>
</ul>
<p text="muted">It's important to consider these benefits and factor them into the overall financial planning process when deciding whether life insurance is right for you and your family.</p>
</div>


