<img src="..." class="img-fluid" alt="...">

<div class="container">
    <p>A health insurance is a kind of insurance that provides coverage for expenses incurred during hospitalisation either for treatment or surgery. Looking at the expensive medical costs, a health insurance is a big help in case of a need for hospitalisation. A family floater health insurance is a type of health insurance that offers coverage to more than one member of a family at the same time.</p>
    
    <br>
    <h4>What is Family Floater Health Insurance?</h4>
    <p>A family floater health insurance is a contract between you and the insurance company wherein, the company meets the medical expenses of the entire family in lieu of the annual premium paid by you. As part of this health insurance, the company pays for the expenses in case of any medical emergency.</p>
    <p>Under a family floater health insurance, a single health plan covers the entire family, and you pay one common premium for every family member. It usually covers a family of four members, which include the policyholder, his/her spouse, and up to four children. However, some plans also provide risk coverage for the policyholder’s parents and parents-in-law. Extended family (with in-laws) can also be covered in the family floater by paying some additional premium.</p>
    
    <br>
    <h4>Types of Family Floater Health Insurance Plans</h4>
    <p>A family floater health plan pays for hospitalisation and treatment of other critical illnesses. So, a family plan is usually available as indemnity plan, where you get financial coverage for hospitalisation. Thus, as part of the policy, the insured will get the sum insured decided at the commencement of the plan. The other type of health insurance plan – fixed benefit plan – where you get financial coverage for critical illnesses is not available under family floater plans.</p>
    <p><b>Indemnity plan:</b> These are simple mediclaim plans where the insurance company pays the hospitalisation expenses within the limit of the total claim of the plan.</p>
    <p>The total amount under the scheme is called the sum insured. It is that maximum amount which the insurer has agreed to reimburse in the medical treatment procedures. The claim can be either cashless or reimbursement.</p>

    <br>
    <h4>What all Family Floater Health Insurance Covers?</h4>
    <p>A family floater health insurance is a comprehensive health insurance package, offering coverage for various  cases. Let us get an idea of some of the common situations covered under this plan. You should understand that the coverage will vary for different providers:</p>
    <p><b>Hospitalisation Expenses:</b> Any expenses incurred during hospitalisation are covered. This includes any expenses incurred before the hospitalisation regarding tests and examinations. Additionally, it also covers the costs incurred on items like medicines, and tests after getting discharged from the hospital.</p>
    <p><b>Other Treatments and Charges:</b> Transportation by ambulance in case of emergencies are also covered under this plan. Some insurers also offer a daily cash allowance in terms of hospital cash. This cash can also be used in transportation, and other requirements needed for attending the patient.</p>
    <p><b>Daycare charges:</b> The plan covers all daycare charges. This requires a few hours of medical treatment, instead of 24 hours.</p>
    <p><b>Free Health Check-up:</b> Family members included in the plan can get free health check-ups. The policies guiding the duration are different for every provider.</p>

    <br>
    <h4>How Family Floater Health Insurance Plans Function?</h4>
    <p>Looking at the premium paid for a family floater plan vis-a-vis the coverage offered for the entire family, this plan is considered cost effective compared to individual health plans. Let us understand how it functions.</p>
    <ul>
        <li>The total sum insured amount of the health plan can be shared by all the family members covered under the plan</li>
        <br>
        <li>For instance, of the Rs. 10 lakh coverage amount for a family comprising 2 adults and 2 children, if the spouse of the policyholder used Rs. 3 lakh for a surgery in a year, the remaining amount can be used by any other family member the same year, if the need arises</li>
        <br>
        <li>It is also to be understood that the above example will take into account deductibles and co-payment that vary for different insurance companies</li>
    </ul>

    <br>
    <h4>Eligibility Criteria</h4>
    <ul>
        <li>To get covered under a family floater health insurance plan, an adult member must be between 18-65 years; however, the maximum age can vary for different insurance companies</li>
        <br>
        <li>Policyholder should be between 18-65 years, though this can vary with the plan</li>
        <br>
        <li>The age of the child to be included also varies from provider to provider. For some it is 91 days, while for some it is 5 years.</li>
    </ul>

    <br>
    <h4>Family Floater Health Insurance Claim Process</h4>
    <p>For a hassle-free claim process, you should understand the steps to be followed for making claims. However, the process can be different for each insurance company. Here is a quick guide to understand the process.</p>
    <ul>
        <li>In case of planned hospitalisation, inform the insurance company beforehand. In case of sudden requirement, inform the company as soon as possible</li>
        <br>
        <li>Submit the hospital bills and other certificates required by the insurance company. If approved, your bill will be paid directly by the company to the hospital, if it is a network hospital. In case it is a not a network hospital under the insurance company, the claims will be of reimbursement type instead of the cashless type</li>
        <br>
        <li>If not approved, you can submit the other required documents. In this case, you will have to pay the hospital bill which will  be reimbursed later</li>
    </ul>

    <br>
    <h4>Documents Required for Claim Process</h4>
    <p>While making claims, it is important to have the required documents in place so that the claim process can be carried out smoothly. Let us look at some of the documents required. You should note that these are some common documents and the each policy wand case will have a different requirement.</p>
    <ul>
        <li>Duly filled in claim form</li>
        <br>
        <li>Discharge report</li>
        <br>
        <li>Hospital bills</li>
        <br>
        <li>Pharmacy bills</li>
        <br>
        <li>Investigation reports</li>
        <br>
        <li>Prescriptions</li>
        <br>
        <li>FIR & medico-legal report in case of accident</li>
    </ul>

    <br>
    <h4>How Long Does it Take to Pay Out the Claim?</h4>
    <p>A health insurance claim are of two types – cashless and reimbursement. You can avail cashless claim if you get hospitalised at one of the network hospitals of the insurance company. In case it is not, your claims will be reimbursed later.</p>
    <ul>
        <li>For both planned and emergency admission to hospitals, the approval for cashless claim is usually 24 hours; however, this can vary for different companies</li>
        <br>
        <li>For reimbursement claim, the turn around time will be 15-20 days from the time of receipt of the required documents; however, this can vary for different companies</li>
    </ul>

    <br>
    <h4>Renewal Process</h4>
    <p>Most of the health insurance plans have lifelong renewability. But the renewal has to be done every year which can be done online.</p>
    <ul>
        <li>Visit the official website of the health insurance company and log in through your user ID and password. You get a user ID and password on registering yourself on the official website just after buying a plan</li>
        <br>
        <li>On logging in, you get a ‘Renewal’ option on the website. Click on it to proceed. You can also make online payment through different available modes</li>
    </ul>

    <br>
    <h4>Cases Where You Can’t Claim Family Floater Health Insurance (Exclusions)</h4>
    <p>There are certain cases not covered under the family floater health insurance plan, also called exclusions. You should know these situations before finalising a plan. Different companies have different sets of exclusions. For a complete list under each plan, you should go through the insurance company website. Let us look at some of the common exclusions.</p>
    <ul>
        <li>Some pre-existing diseases are not covered under the plan</li>
        <br>
        <li>Also know the waiting period of certain diseases as this can affect your finance, in case they are not covered when the need arises</li>
        <br>
        <li>Some of the dental treatments are not covered under the plan, so be clear about the situations for which you will have to pay yourself</li>
        <br>
        <li>Many family health plans exclude maternity coverage, so in case you are planning a family, be sure to  check them</li>
    </ul>

    <br>
    <h4>Companies Offering Family Floater Health Insurance Plans in India</h4>
    <p>Almost all health insurance companies in India provide family floater health plans. Some of the companies are:</p>
    <ul>
        <li>ICICI Lombard</li>
        <br>
        <li>Max Bupa</li>
        <br>
        <li>HDFC Ergo</li>
        <br>
        <li>Star Health</li>
    </ul>

    <br>
    <h4>Important Aspects</h4>
    <p>Purchasing a family floater health insurance plan is an important decision, and the plan forms a vital part of your financial portfolio. Always understand the plan well and look into all the aspects because you are paying the annual premium for the plan which would help you cover your medical expenses when needed. Let us look at some of the important aspects here:</p>
    <ul>
        <li>Rent for the hospital room during hospitalisation is an important point to be considered. These charges are usually included in the insurance However, at times, some insurance providers set a limit on room rent. However, it is advisable to go for the ones that don’t have any limit</li>
        <br>
        <li>Always compare the claim settlement ratio of various insurance companies before zeroing in on one. A higher ratio is always considered so that your claim is settled on time when you need it</li>
        <br>
        <li>Also check if the insurance companies provide cashless treatment if you are availing it from one of their network hospitals</li>
        <br>
        <li>Also check the coverage offered under various expense heads like hospitalisation, daycare, ambulance transportation, etc.</li>
        <br>
        <li>Also, if you are planning a baby, it is advisable to consider buying insurance for the infant too. You can either add him/her as an additional member in the plan or even include a rider like Maternity Insurance coverage</li>
        <br>
        <li>Understand the riders or additional benefits offered with plan to get a comprehensive coverage</li>
        <br>
    </ul>

    <br>
    <h4>Advantages of Buying Family Floater Health Insurance Plans</h4>
    <p>A family floater health insurance package is a comprehensive plan suitable for big families. Apart from one premium that is paid for all the family members , a family health plan has other advantages as well. Here is a list of some of the advantages.</p>
    <ul>
        <li>You can include your parents as well as in-laws on payment of little extra cost</li>
        <br>
        <li>The premium paid for health insurance offers tax benefits under Sec 80D of the Income Tax Act, 1961. The benefit can be enjoyed on an amount up to Rs. 55,000</li>
        <br>
        <li>All the family members are covered under one plan, making it a cost effective plan as you get to save money</li>
        <br>
    </ul>

    <br>
    <h4>FAQs</h4>
    <b>Q1. What do you understand by a Health Card?</b>
    <p>A Health Card is a card provided at the time of issuing the health insurance policy. The card helps in identifying you so that you can get cashless hospitalisation at their network hospitals.</p>
    <br>
    <b>Q2. Should I opt for a separate family health plan if I am covered by my office?</b>
    <p>A personal family health plan is always recommended so that you can get it done according to your need and requirement. In case you change that job, your corporate health plan will also end and it might happen that your new plan does not include the needed coverage.</p>
</div>