
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <div class="p-0 m-0">
  <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 w-100 m-0">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">ShagunCapital</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </form>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-primary me-md-2" type="button">Login</button>
              <button class="btn btn-primary" type="button">Quick Invest</button>
            </div>
          </div>
        </nav>
  </div>
  <div class="banner-area p-0 m-0 container-fluid">
    <div class="row  w-100">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                  <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item dropdown menu-area">
                  <a class="nav-link dropdown-toggle" href="#" id="mega-one" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="onSubmit()">
                    Products
                  </a>
                  <ul class="dropdown-menu mega-area" aria-labelledby="mega-one">
                    <div class="row">
                      <div class="col-sm-6 col-lg-3">
                        <h6>MUTUAL FUNDS</h6>
                        <a routerLink="intro-mf" class="dropdown-item">Introduction</a>
                        <a routerLink="sip" class="dropdown-item">Systematic Investment Plan</a>
                        <a routerLink="mf/children" class="dropdown-item">Children's Dream Plan</a>
                        <a routerLink="mf/dream-house-fund" class="dropdown-item">Dream House Plan</a>
                        <a routerLink="mf/goldfund" class="dropdown-item">Gold Fund</a>
                        <a routerLink="mf/higherstudy" class="dropdown-item">Higher Study Plan</a>
                        <a routerLink="mf/pensionfund" class="dropdown-item">Pension Plan</a>
                        <a routerLink="mf/regularpay" class="dropdown-item">Regular Pay Plan</a>
                        <a routerLink="mf/regular-saving" class="dropdown-item">Regular Savings Plan</a>
                        <a routerLink="mf/retirement" class="dropdown-item">Retirement Plan</a>              
                        <a routerLink="mf/wealthcreation" class="dropdown-item">Wealth Builder Plan</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6>LIFE INSURANCE</h6>
                        <a routerLink="sip" class="dropdown-item">Introduction</a>
                        <a routerLink="lifeins/cancercare" class="dropdown-item">Cancer Care Plan</a>
                        <a routerLink="lifeins/childrenlife" class="dropdown-item">Children's Plan</a>
                        <a routerLink="lifeins/health" class="dropdown-item">Health Plan</a>
                        <a routerLink="lifeins/higherstudylife" class="dropdown-item">Higher Study Plan</a>
                        <a routerLink="lifeins/market-linked" class="dropdown-item">Market Linked Plan</a>
                        <a routerLink="lifeins/marriage" class="dropdown-item">Marriage Plan</a>
                        <a routerLink="lifeins/moneyback" class="dropdown-item">Money Back Plan</a>
                        <a routerLink="lifeins/pension" class="dropdown-item">Pension Plan</a>
                        <a routerLink="lifeins/retirementlife" class="dropdown-item">Retirement Plan</a>
                        <a routerLink="lifeins/short-term" class="dropdown-item">Short Term Plan</a>
                        <a routerLink="lifeins/term" class="dropdown-item">Term Plan</a>
                        <a routerLink="lifeins/taxsavinglife" class="dropdown-item">Tax Saving Plan</a>
                        <a routerLink="lifeins/wealthbuilder" class="dropdown-item">Wealth Creation Plan</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6>HEALTH INSURANCE</h6>
                        <a routerLink="sip" class="dropdown-item">Introduction</a>
                        <a routerLink="healthins/arogya" class="dropdown-item">Arogya Plan</a>
                        <a routerLink="healthins/cardiac" class="dropdown-item">Cardiac Care Plan</a>
                        <a routerLink="healthins/corporatehealth" class="dropdown-item">Corporate Health Plan</a>
                        <a routerLink="healthins/criticalcare" class="dropdown-item">Critical Care Plan</a>
                        <a routerLink="healthins/diabetes" class="dropdown-item">Diabetes Safe Plan</a>
                        <a routerLink="healthins/familyfloater" class="dropdown-item">Family Floater Health Plan</a>
                        <a routerLink="healthins/grouphealth" class="dropdown-item">Group Health Plan</a>
                        <a routerLink="healthins/individualhealth" class="dropdown-item">Individual Health Plan</a>
                        <a routerLink="healthins/taxsavinghealth" class="dropdown-item">Tax Saving Plan</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='golddeposits' class="rest">GOLD DEPOSITS</a></h6>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='bonds' class="rest">BONDS</a></h6>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='fixdeposits' class="rest">FIXED DEPOSITS</a></h6>
                      </div>
                    </div>
                  </ul>
                </li>

                <li class="nav-item dropdown menu-area">
                  <a class="nav-link dropdown-toggle" href="#" id="mega-two" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="onSubmit()">
                    Solutions
                  </a>
                  <ul class="dropdown-menu mega-area" aria-labelledby="mega-two">
                    <div class="row">
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='insuranceplan'  class="rest">INSURANCE PLANNING</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='educationplan' class="rest">EDUCATION PLANNING</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='retirementplan' class="rest">RETIREMENT PLANNING</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='financialplan' class="rest">FINANCIAL PLANNING</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='recurringinvest' class="rest">RECURRING INVESTMENT</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='riskmanage' class="rest">RISK MANAGEMENT</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='liquiditysol' class="rest">LIQUIDITY SOLUTIONS</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='liquidinvest' class="rest">LIQUID INVESTMENTS </a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                    </div>
                  </ul>
                </li>

                <li class="nav-item dropdown menu-area">
                  <a class="nav-link dropdown-toggle" href="#" id="mega-three" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="onSubmit()">
                    Services
                  </a>
                  <ul class="dropdown-menu mega-area" aria-labelledby="mega-three">
                    <div class="row">
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='taxmanagement' class="rest">TAX MANAGEMENT</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='investmentmanage' class="rest">INVESTMENT MANAGEMENT</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='onlinetransact' class="rest">ONLINE TRANSACTIONS</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='claims' class="rest">CLAIMS</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='kyc' class="rest">KYC</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='goalplan' class="rest">GOAL PLANNING</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='portfolioservice' class="rest">PORTFOLIO SERVICES</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                    </div>
                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink='knowledge' (click)="onSubmit()">Knowledge Center</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink='downloads' (click)="onSubmit()">Downloads</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink='blog' (click)="onSubmit()">Blog</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink='contactus' (click)="onSubmit()">Contact Us</a>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

  </div>
   <div *ngIf=flag>
    <app-header></app-header>
  </div>
  <!-- <div *ngIf=flag>
    <h4>piyush works</h4>
  </div> -->

  <router-outlet></router-outlet>
  <app-footer></app-footer>

</div>



