
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">ShagunCapital</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </form>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-primary me-md-2" type="button">Login</button>
              <button class="btn btn-primary" type="button">Quick Invest</button>
            </div>
          </div>
        </nav>
  </div>
  <div class="banner-area">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
                <li class="nav-item">
                  <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item dropdown menu-area">
                  <a class="nav-link dropdown-toggle" href="#" id="mega-one" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="onSubmit()">
                    Products
                  </a>
                  <ul class="dropdown-menu mega-area" aria-labelledby="mega-one">
                    <div class="row">
                      <div class="col-sm-6 col-lg-3">
                        <h6>MUTUAL FUNDS</h6>
                        <a routerLink="sip" class="dropdown-item">SIP</a>
                        <a routerLink="bluechip" class="dropdown-item">Bluechip Funds</a>
                        <a routerLink="equity" class="dropdown-item">Equity Fund</a>
                        <a routerLink="debt" class="dropdown-item">Debt Fund</a>
                        <a routerLink="balance" class="dropdown-item">Balance Fund</a>
                        <a routerLink="children" class="dropdown-item">Children's Fund</a>
                        <a routerLink="taxsaving" class="dropdown-item">Tax Saving Fund</a>
                        <a routerLink="savings" class="dropdown-item">Savings Fund</a>
                        <a routerLink="ulip" class="dropdown-item">ULIP Fund</a>
                        <a routerLink="retirement" class="dropdown-item">Retirement Fund</a>
                        <a routerLink="regular" class="dropdown-item">Regular Benefit Fund</a>
                        <a routerLink="hybrid" class="dropdown-item">Hybrid Fund</a>
                        <a routerLink="higherstudy" class="dropdown-item">Higher Study Plan</a>
                        <a routerLink="goldfund" class="dropdown-item">Gold Fund</a>
                        <a routerLink="wealthcreation" class="dropdown-item">Wealth Creation Fund</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6>LIFE INSURANCE</h6>
                        <a routerLink="endowment" class="dropdown-item">Endowment Plan</a>
                        <a routerLink="moneyback" class="dropdown-item">Money Back Plan</a>
                        <a routerLink="childrenlife" class="dropdown-item">Children's Plan</a>
                        <a routerLink="higherstudylife" class="dropdown-item">Higher Study Plan</a>
                        <a routerLink="retirementlife" class="dropdown-item">Retirement Plan</a>
                        <a routerLink="pension" class="dropdown-item">Pension Plan</a>
                        <a routerLink="term" class="dropdown-item">Term Plan</a>
                        <a routerLink="cancercare" class="dropdown-item">Cancer Care Plan</a>
                        <a routerLink="taxsavinglife" class="dropdown-item">Tax Saving Plan</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6>HEALTH INSURANCE</h6>
                        <a routerLink="individualhealth" class="dropdown-item">Individual Health Plan</a>
                        <a routerLink="familyfloater" class="dropdown-item">Family Floater Health Plan</a>
                        <a routerLink="diabetes" class="dropdown-item">Diabetes Safe Plan</a>
                        <a routerLink="arogya" class="dropdown-item">Arogya Plan</a>
                        <a routerLink="cardiac" class="dropdown-item">Cardiac Care Plan</a>
                        <a routerLink="criticalcare" class="dropdown-item">Critical Care Plan</a>
                        <a routerLink="grouphealth" class="dropdown-item">Group Health Plan</a>
                        <a routerLink="corporatehealth" class="dropdown-item">Corporate Health Plan</a>
                        <a routerLink="taxsavinghealth" class="dropdown-item">Tax Saving Plan</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='golddeposits' class="rest">GOLD DEPOSITS</a></h6>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='bonds' class="rest">BONDS</a></h6>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='fixdeposits' class="rest">FIXED DEPOSITS</a></h6>
                      </div>
                    </div>
                  </ul>
                </li>
  
                <li class="nav-item dropdown menu-area">
                  <a class="nav-link dropdown-toggle" href="#" id="mega-two" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="onSubmit()">
                    Solutions
                  </a>
                  <ul class="dropdown-menu mega-area" aria-labelledby="mega-two">
                    <div class="row">
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='insuranceplan'  class="rest">INSURANCE PLANNING</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='educationplan' class="rest">EDUCATION PLANNING</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='retirementplan' class="rest">RETIREMENT PLANNING</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='financialplan' class="rest">FINANCIAL PLANNING</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='recurringinvest' class="rest">RECURRING INVESTMENT</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='riskmanage' class="rest">RISK MANAGEMENT</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='liquiditysol' class="rest">LIQUIDITY SOLUTIONS</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='liquidinvest' class="rest">LIQUID INVESTMENTS </a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                    </div>
                  </ul>
                </li>
  
                <li class="nav-item dropdown menu-area">
                  <a class="nav-link dropdown-toggle" href="#" id="mega-three" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="onSubmit()">
                    Services
                  </a>
                  <ul class="dropdown-menu mega-area" aria-labelledby="mega-three">
                    <div class="row">
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='taxmanagement' class="rest">TAX MANAGEMENT</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='investmentmanage' class="rest">INVESTMENT MANAGEMENT</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='onlinetransact' class="rest">ONLINE TRANSACTIONS</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='claims' class="rest">CLAIMS</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='kyc' class="rest">KYC</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='goalplan' class="rest">GOAL PLANNING</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6><a routerLink='portfolioservice' class="rest">PORTFOLIO SERVICES</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Null</p>
                      </div>
                    </div>
                  </ul>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" routerLink='knowledge' (click)="onSubmit()">Knowledge Center</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" routerLink='downloads' (click)="onSubmit()">Downloads</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" routerLink='blog' (click)="onSubmit()">Blog</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" routerLink='contactus' (click)="onSubmit()">Contact Us</a>
                </li>
  
              </ul>
            </div> 
          </div>
        </nav>
      </div>
    </div>
    
  </div>
  <div *ngIf=flag>
    <app-header></app-header>
  </div>
  <!-- <div *ngIf=flag>
    <h4>piyush works</h4>
  </div> -->
  <router-outlet></router-outlet>
  
  <footer>
    <div class="footer-wrap">
    <div class="container first_class">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h3>BE THE FIRST TO KNOW</h3>
            <p>Get all the latest information on  Triedge Services, Events, Jobs
              and Fairs. Sign up for our newsletter today.</p>
          </div>
          <div class="col-md-4 col-sm-6">
            <form class="newsletter">
              <input type="text" placeholder="Email Address"> 
                  <button class="newsletter_submit_btn" type="submit"><i class="fa fa-paper-plane"></i></button> 
            </form>
          
          </div>
          <div class="col-md-4 col-sm-6">
          <div class="col-md-12">
            <div class="standard_social_links">
          <div>
            <li class="round-btn btn-facebook"><a href="#"><i class="fa fa-facebook"></i></a>
  
            </li>
            <li class="round-btn btn-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  
            </li>
            <li class="round-btn btn-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  
            </li>
            <li class="round-btn btn-instagram"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  
            </li>
            <li class="round-btn btn-whatsapp"><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
  
            </li>
            <li class="round-btn btn-envelop"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
  
            </li>
          </div>
        </div>  
          </div>
            <div class="clearfix"></div>
          </div>
        </div>
    </div>
      <div class="second_class">
        <div class="container second_class_bdr">
        <div class="row">
          <div class="col-md-2 col-sm-6">
            <h3>Quick  Links</h3>
            <ul class="footer-links">
              <li><a routerLink = "home">Home</a>
              </li>
              <li><a routerLink = "aboutus">About us</a>
              </li>
              <li><a routerLink = "careers">Careers</a>
              </li>
              <li><a href="#">ShagunCapital Partners</a>
              </li>
              <li><a href="#">Contact Us</a>
              </li>
              <li><a routerLink = "tc">Terms & Conditions</a>
              </li>
              <li><a routerLink = "privacypolicy">Privacy Policy</a>
              </li>
              <li><a routerLink = "faq">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-6">
            <h3>EXPLORE</h3>
            <ul class="footer-category">
              <li><a routerLink = "claim-intimation">Claim Intimation</a>
              </li>
              <li><a routerLink = "faq">Tax Saving</a>
              </li>
              <li><a routerLink = "faq">Insurance</a>
              </li>
              <li><a routerLink = "faq">Investment</a>
              </li>
              <li><a routerLink = "faq">NFO</a>
              </li>
              <li><a routerLink = "faq">Digital Gold</a>
              </li>
            </ul>
          </div>
  
          <div class="col-md-2 col-sm-6">
            <h3>CALCULATORS</h3>
            <ul class="footer-category">
              <li><a routerLink = "sipcalc">SIP Calculator</a>
              </li>
              <li><a routerLink = "goalsipcalc">Goal SIP Calculator</a>
              </li>
              <li><a routerLink = "insurancecalc">Insurance Calculator</a>
              </li>
              <li><a routerLink = "inflationcalc">Inflation Calculator</a>
              </li>
              <li><a routerLink = "incometaxcalc">Income Tax Calculator</a>
              </li>
            </ul>
          </div>
  
          <div class="col-md-2 col-sm-6">
            <h3>USEFUL LINKS</h3>
            <ul class="footer-links">
              <li><a href="#">eKYC</a>
              </li>
            </ul>
          </div>
  
          <div class="col-md-4 col-sm-6">
  
            <div class="footer-logo"><img src="http://localhost/lrn/img/footer_logo.png" alt="logo">
            </div>
            <p>Your one-stop career platform to find Jobs, Internships, Professional Trainings, Projects, and Volunteering Opportunities.</p>
          </div>
  
        </div>
        
      </div>
      </div>
      
      <div class="row">
        
        <div class="container-fluid">
        <div class="copyright"> Copyright 2021 | All Rights Reserved by ShagunCapital Pvt. Ltd.</div>
        </div>
        
      </div>
    </div>
    <!--footer end-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  <!-- Font Awesome 5 links-->
  <script src="https://kit.fontawesome.com/fddf5c0916.js" crossorigin="anonymous"></script>
  </footer>
  
  
  
