<div class="how-section1 container">
    <div class="row">
        
        <div class="col-md-6">
            <h4>Child Plan</h4>
            <br>
                        <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Freedom to work on ideal projects. On GetLance, you run your own business and choose your own clients and projects. Just complete your profile and we’ll highlight ideal jobs. Also search projects, and respond to client invitations.
                                Wide variety and high pay. Clients are now posting jobs in hundreds of skill categories, paying top price for great work.
                                More and more success. The greater the success you have on projects, the more likely you are to get hired by clients that use GetLance.</p>

            <br>
            <button type="button" class="btn btn-primary btn-lg buttonsave">Contact Us</button>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
    <br>
    <h4>What is Children Insurance Plan?</h4>
    <p>A family floater health insurance is a contract between you and the insurance company wherein, the company meets the medical expenses of the entire family in lieu of the annual premium paid by you. As part of this health insurance, the company pays for the expenses in case of any medical emergency.</p>
    <p>Under a family floater health insurance, a single health plan covers the entire family, and you pay one common premium for every family member. It usually covers a family of four members, which include the policyholder, his/her spouse, and up to four children. However, some plans also provide risk coverage for the policyholder’s parents and parents-in-law. Extended family (with in-laws) can also be covered in the family floater by paying some additional premium.</p>

    <br>
    <h4>What all Children Insurance plan Covers?</h4>
    <p>A family floater health insurance is a comprehensive health insurance package, offering coverage for various  cases. Let us get an idea of some of the common situations covered under this plan. You should understand that the coverage will vary for different providers:</p>
    <p><b>Hospitalisation Expenses:</b> Any expenses incurred during hospitalisation are covered. This includes any expenses incurred before the hospitalisation regarding tests and examinations. Additionally, it also covers the costs incurred on items like medicines, and tests after getting discharged from the hospital.</p>
    <p><b>Other Treatments and Charges:</b> Transportation by ambulance in case of emergencies are also covered under this plan. Some insurers also offer a daily cash allowance in terms of hospital cash. This cash can also be used in transportation, and other requirements needed for attending the patient.</p>
    <p><b>Daycare charges:</b> The plan covers all daycare charges. This requires a few hours of medical treatment, instead of 24 hours.</p>
    <p><b>Free Health Check-up:</b> Family members included in the plan can get free health check-ups. The policies guiding the duration are different for every provider.</p>

    <br>
    <h4>Eligibility Criteria</h4>
    <ul>
        <li>To get covered under a family floater health insurance plan, an adult member must be between 18-65 years; however, the maximum age can vary for different insurance companies</li>
        <br>
        <li>Policyholder should be between 18-65 years, though this can vary with the plan</li>
        <br>
        <li>The age of the child to be included also varies from provider to provider. For some it is 91 days, while for some it is 5 years.</li>
    </ul>

    <br>
    <h4>Children Insurance Plan Claim Process</h4>
    <p>For a hassle-free claim process, you should understand the steps to be followed for making claims. However, the process can be different for each insurance company. Here is a quick guide to understand the process.</p>
    <ul>
        <li>In case of planned hospitalisation, inform the insurance company beforehand. In case of sudden requirement, inform the company as soon as possible</li>
        <br>
        <li>Submit the hospital bills and other certificates required by the insurance company. If approved, your bill will be paid directly by the company to the hospital, if it is a network hospital. In case it is a not a network hospital under the insurance company, the claims will be of reimbursement type instead of the cashless type</li>
        <br>
        <li>If not approved, you can submit the other required documents. In this case, you will have to pay the hospital bill which will  be reimbursed later</li>
    </ul>

    <br>
    <h4>Documents Required for Claim Process</h4>
    <p>While making claims, it is important to have the required documents in place so that the claim process can be carried out smoothly. Let us look at some of the documents required. You should note that these are some common documents and the each policy wand case will have a different requirement.</p>
    <ul>
        <li>Duly filled in claim form</li>
        <br>
        <li>Discharge report</li>
        <br>
        <li>Hospital bills</li>
        <br>
        <li>Pharmacy bills</li>
        <br>
        <li>Investigation reports</li>
        <br>
        <li>Prescriptions</li>
        <br>
        <li>FIR & medico-legal report in case of accident</li>
    </ul>

    <br>
    <h4>Companies Offering Children Insurance Plan in India</h4>
    <p>Almost all health insurance companies in India provide family floater health plans. Some of the companies are:</p>
    <ul>
        <li>ICICI Lombard</li>
        <br>
        <li>Max Bupa</li>
        <br>
        <li>HDFC Ergo</li>
        <br>
        <li>Star Health</li>
    </ul>

    <br>
    <h4>FAQs</h4>
    <b>Q1. What do you understand by a Health Card?</b>
    <p>A Health Card is a card provided at the time of issuing the health insurance policy. The card helps in identifying you so that you can get cashless hospitalisation at their network hospitals.</p>
    <br>
    <b>Q2. Should I opt for a separate family health plan if I am covered by my office?</b>
    <p>A personal family health plan is always recommended so that you can get it done according to your need and requirement. In case you change that job, your corporate health plan will also end and it might happen that your new plan does not include the needed coverage.</p>
</div>
</div>
