/* .how-section1{
    margin-top: 2px;
    padding: 5%;
    height: fit-content;
  }
.how-section1 h4{
    font-size: 40px;
    font-weight: 700;
    color: #1b1dc7;
    margin-bottom: 16px;
  }
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
  }
.how-section1 .row
  {
    margin-top: 3%;
  }
.how-img 
  {
    text-align: center;
  }
.how-img img{
    width: 40%;
  }
.buttonsave
  {
    border-radius: 8px;
    background: #1b1dc7;
    padding: 18px 32px 18px 32px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    float: left;
    position: relative;
  }
.content
  {
    padding-right: 30%;
    padding-left: 3%;
     width: fit-content; 
  } */












.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media screen and (max-width: 768px){
.t_heading_margin {
    margin-bottom: 10px;
}}
@media screen and (max-width: 768px){
.t_heading, .t_heading_primary, .t_heading_secondary {
    font-size: 23px;
    line-height: 1.22;
    letter-spacing: -.51px;
}}
.t_heading_margin {
    margin-bottom: 10px;
}
.t_heading_primary {
    color: #264a9f;
}
.t_heading, .t_heading_primary, .t_heading_secondary {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: -.7px;
}
.h2, h2 {
    font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
@media screen and (max-width: 768px){
.product-list-card-with-numbers_productListCardWithNumbersBody__16Dec {
    padding: 17px 21px 29px 23px;
}}
.product-list-card-with-numbers_productListCardWithNumbersBody__16Dec {
    padding: 20px 29px 20px 25px;
    border: 1px dashed #516081;
    border-radius: 20px;
}
@media screen and (max-width: 768px){
.product-list-card-with-numbers_productListCardWithNumbersBox__HrXlH {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -5px;
    background-color: #f5f5f5;
}}
.product-list-card-with-numbers_productListCardWithNumbersBox__HrXlH {
    border: 1px dashed #516081;
    display: grid;
    place-items: center;
    border-radius: 50%;
    height: 40px;
    position: relative;
    top: 14px;
}
@media screen and (max-width: 768px){
.product-list-card-with-numbers_productListCardWithNumbersTitle__1py43 {
    margin-left: 30px;
}
.product-list-card-with-numbers_productListCardWithNumbersTitle__1py43 {
    margin-bottom: 10px;
}}
@media screen and (max-width: 768px){
.t_h3_heading, .t_h3_heading_primary {
    font-size: 13px;
}}
.t_h3_heading, .t_h3_heading_primary {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: -.18px;
}
.t_color_primary, .t_h3_heading_primary {
    color: #264a9f;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
.product-list-card-with-numbers_line__3igm8 {
  position: absolute;
  border: 1px dashed #516081;
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  top: 54px;
  left: 19px;
}
@media (min-width: 576px){
.d-sm-block {
  display: block!important;
}}
.d-none {
  display: none!important;
}
.product-list-card-with-numbers_productListCardWithNumbers__2Xhg8 {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-column-gap: 40px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}
.position-relative {
  position: relative!important;
}
.product-desc-listing_productBenefitsList__flKkv {
  display: grid;
  grid-row-gap: 19px;
  row-gap: 19px;
}
.t_body_top_margin {
  margin-top: 20px;
}






/* @media screen and (max-width: 768px){
.t_section_gap {
    margin-top: 60px;
}}
.t_section_gap {
    margin-top: 100px;
}
@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}}
@media (min-width: 576px){
.container {
    max-width: 540px;
}}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 768px){
.t_heading_margin {
    margin-bottom: 10px;
}}
@media screen and (max-width: 768px){
.t_heading, .t_heading_primary, .t_heading_secondary {
    font-size: 23px;
    line-height: 1.22;
    letter-spacing: -.51px;
}}
.t_heading_margin {
    margin-bottom: 10px;
}
.t_heading_primary {
    color: #264a9f;
}
.t_heading, .t_heading_primary, .t_heading_secondary {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: -.7px;
}
.h2, h2 {
    font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */