<!-- <div class="container">
  <h4 class="headings">Liquidity Solutions</h4>
  <div class="how-section1">
    <div class="row">
      <div class="col-md-6">
        <br />
        <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> 
        <p class="text-muted">
          Investing in liquid mutual funds, short-term mutual funds, and
          short-term fixed deposits are commonly used liquidity solutions to
          meet short-term expenses.
        </p>
      </div>
      <div class="col-md-4 how-img">
        <img
          src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png"
          class="rounded-circle img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="how-section1">
    <div class="row">
      <div class="col-md-4 how-img">
        <img
          src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png"
          class="rounded-circle img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <br />
         <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> 
        <p class="text-muted">
          Liquid mutual funds invest in highly liquid and low-risk securities
          such as government bonds and money market instruments, and provide
          relatively low returns. They can be used to park money temporarily and
          provide access to funds when needed.
        </p>
      </div>
    </div>
  </div>
  <div class="how-section1">
    <div class="row">
      <div class="col-md-6">
        <br />
         <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> 
        <p class="text-muted">
          Short-term mutual funds invest in a combination of debt and money
          market instruments with a slightly higher risk profile than liquid
          funds. They are designed to provide higher returns than liquid funds
          over the short-term, usually with a horizon of 1-3 years.
        </p>
      </div>
      <div class="col-md-4 how-img">
        <img
          src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png"
          class="rounded-circle img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="how-section1">
    <div class="row">
      <div class="col-md-4 how-img">
        <img
          src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png"
          class="rounded-circle img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <br />
         <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> 
        <p class="text-muted">
          Short-term fixed deposits are low-risk investment instruments offered
          by banks and other financial institutions. They offer a fixed rate of
          return for a specified period, usually ranging from 1-3 years.
        </p>
      </div>
    </div>
  </div>
  <div class="how-section1">
    <div class="row">
      <div class="col-md-6">
        <br />
         <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> 
        <p class="text-muted">
          It's important to consider your individual financial goals and risk
          tolerance when choosing a liquidity solution. It is also important to
          review and understand the features, fees, and risks associated with
          each investment product, and to consult with a financial advisor if
          necessary.
        </p>
      </div>
      <div class="col-md-4 how-img">
        <img
          src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png"
          class="rounded-circle img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="how-section1">
    <div class="row">
      <div class="col-md-4 how-img">
        <img
          src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png"
          class="rounded-circle img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <br />
         <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> 
        <p class="text-muted">
          It is generally recommended to have a portion of your portfolio in
          low-risk and highly liquid investments to meet unexpected expenses or
          emergencies. This helps ensure that you have access to funds when you
          need them and reduces the risk of having to sell investments at a loss
          in a market downturn.
        </p>
      </div>
    </div>
  </div>
</div> -->











<div class="container t_section_gap">
  <div class="row">
    <div class="col-12">
      <h2 class="t_heading_primary t_heading_margin">
        Liquidity Solutions
      </h2>
      <h3 class="t_sub_heading_primary">
        <!-- <p>
          Selecting a health insurance plan is not as easy as buying groceries
          or even big consumer items such as refrigerators and washing machines.
          This decision entails a substantial degree of analysis and the careful
          consideration of various factors, including your health insurance
          requirements, the sum insured and the amount you can shell out on
          health insurance premiums. Here is how you can get health insurance in
          a systematic manner.
        </p> -->
      </h3>
      <div class="">
        <div
          class="product-desc-listing_productBenefitsList__flKkv t_body_top_margin"
        >
          <div
            class="product-list-card-with-numbers_productListCardWithNumbers__2Xhg8 position-relative"
          >
            <div
              class="product-list-card-with-numbers_productListCardWithNumbersBox__HrXlH"
            >
              1
            </div>
            <div
              class="product-list-card-with-numbers_line__3igm8 d-none d-sm-block"
            ></div>
            <div
              class="product-list-card-with-numbers_productListCardWithNumbersBody__16Dec"
            >
              <div class="t_text">
                <p>
                    Investing in liquid mutual funds, short-term mutual funds, and
                    short-term fixed deposits are commonly used liquidity solutions to
                    meet short-term expenses.
                </p>
                
              </div>
            </div>
          </div>
          <div
            class="product-list-card-with-numbers_productListCardWithNumbers__2Xhg8 position-relative"
          >
            <div
              class="product-list-card-with-numbers_productListCardWithNumbersBox__HrXlH"
            >
              2
            </div>
            <div
              class="product-list-card-with-numbers_line__3igm8 d-none d-sm-block"
            ></div>
            <div
              class="product-list-card-with-numbers_productListCardWithNumbersBody__16Dec"
            >
              <div class="t_text">
                <p>
                    Liquid mutual funds invest in highly liquid and low-risk securities
                    such as government bonds and money market instruments, and provide
                    relatively low returns. They can be used to park money temporarily and
                    provide access to funds when needed.
                </p>
              </div>
            </div>
          </div>
          <div
            class="product-list-card-with-numbers_productListCardWithNumbers__2Xhg8 position-relative"
          >
            <div
              class="product-list-card-with-numbers_productListCardWithNumbersBox__HrXlH"
            >
              3
            </div>
            <div
              class="product-list-card-with-numbers_productListCardWithNumbersBody__16Dec"
            >
              <div class="t_text">
                <p>
                    Short-term mutual funds invest in a combination of debt and money
                    market instruments with a slightly higher risk profile than liquid
                    funds. They are designed to provide higher returns than liquid funds
                    over the short-term, usually with a horizon of 1-3 years.
                </p>
              </div>
            </div>
          </div>

          <div
          class="product-list-card-with-numbers_productListCardWithNumbers__2Xhg8 position-relative"
        >
          <div
            class="product-list-card-with-numbers_productListCardWithNumbersBox__HrXlH"
          >
            4
          </div>
          <div
            class="product-list-card-with-numbers_productListCardWithNumbersBody__16Dec"
          >
            <div class="t_text">
              <p>
                Short-term fixed deposits are low-risk investment instruments offered
                by banks and other financial institutions. They offer a fixed rate of
                return for a specified period, usually ranging from 1-3 years.
              </p>
            </div>
          </div>
        </div>
        <div
        class="product-list-card-with-numbers_productListCardWithNumbers__2Xhg8 position-relative"
      >
        <div
          class="product-list-card-with-numbers_productListCardWithNumbersBox__HrXlH"
        >
          5
        </div>
        <div
          class="product-list-card-with-numbers_productListCardWithNumbersBody__16Dec"
        >
          <div class="t_text">
            <p>
                It's important to consider your individual financial goals and risk
          tolerance when choosing a liquidity solution. It is also important to
          review and understand the features, fees, and risks associated with
          each investment product, and to consult with a financial advisor if
          necessary.
            </p>
          </div>
        </div>
      </div>
      <div
      class="product-list-card-with-numbers_productListCardWithNumbers__2Xhg8 position-relative"
    >
      <div
        class="product-list-card-with-numbers_productListCardWithNumbersBox__HrXlH"
      >
        6
      </div>
      <div
        class="product-list-card-with-numbers_productListCardWithNumbersBody__16Dec"
      >
        <div class="t_text">
          <p>
            It is generally recommended to have a portion of your portfolio in
            low-risk and highly liquid investments to meet unexpected expenses or
            emergencies. This helps ensure that you have access to funds when you
            need them and reduces the risk of having to sell investments at a loss
            in a market downturn.
          </p>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>
