<!-- <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      slidesPerGroup: 1,
      breakpoints: {
       768: {
          slidesPerView: 2,
        },

        991: {
          slidesPerView: 3,
        },
      },
      loop: true,
      navigation:{
        nextEl:".swiper-button-next",
        prevEl: ".swiper-button-prev",
      }


    });
</script> -->

<script>
    $(document).ready(function(){
        // Add minus icon for collapse element which is open by default
        $(".collapse.show").each(function(){
        	$(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        });
        
        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        }).on('hide.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        });
    });
</script>



<img src="./../.././../assets/images/beginners guide to (1).png" class="img-fluid" alt="Responsive image">

<div class="container">
    <div class="row products-card" >
        <!-- <div class="col-lg-2"> -->
                
        <!-- </div> -->

        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
                <div class="card col-sm-4 col-lg-2 cardspace first" *ngFor="let content of headerx">
                    <a href="#" class="button1">
                        <div class="card-body">
                        <h6 class="card-title">{{content.title}}</h6>
                        <br>
                        <p class="card-text">{{content.desc}}</p>
                        <!-- <a href="#" class="btn btn-primary">Learn more</a> -->
                        </div>
                    </a>
                </div>
    </div>

<div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="assets/images/learn-img.jpg" class="rounded-circle img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>We are here to guide at every step of investment</h4>
            <br>
                        <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
        <p class="text-muted">If you're looking to get started with investments and insurance planning, Shagun Capital has got you covered. With over 20 years of experience in this domain, we can help you learn about investment strategies and insurance planning that can suit your needs. With our guidance, you can make informed decisions about where to invest your money to get the best possible return on investment. We are here to provide you the personalized guidance at every step.</p>

        <br>
        <button type="button" class="btn btn-primary btn-lg buttonsave">Contact Us</button>
        </div>
    </div>
</div>

<div class="services">
    <div class="service-text-div-heading">
        <h6 class="service-text">Services</h6>
    </div>

    <div class="service-text-div-tagline">
        <h3 class="service-tagline">Take the worry out of life<br>with insurance protection</h3>
    </div>


    <div class="row service-insurance-card">
        <div class="card cardspace second" style="width: 21rem;" *ngFor="let content of services">
            <img class="card-img-top" [src]= "content.imgsrc" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{content.cardTitle}}</h5>
                <p class="card-text">{{content.desc}}</p>
                <a href="#" class="btn btn-primary buttonservice">Learn more</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container service-all-button">
        <button type="button" class="btn btn-primary btn-lg buttonall">All Services</button>
    </div>

</div>

<div class="how-section1">
    <div class="row">
        
        <div class="col-md-6">
            <h4>Invest in Mutual Funds with Discipline!</h4>
            <br>
            <p>Are you young and just starting out in your career? Are you looking for a way to save for your future and grow your money?</p>
                        <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
        <p class="text-muted">If so, mutual funds may be the right investment option for you. Mutual funds can offer you a way to grow your money while taking less risk than investing in stocks or other individual securities. Shagun Capital's Systematic Investment Plan is perfect for you! With this plan, you can invest a fixed amount of money at predefined intervals, so you can rest assured that your money is working hard for you.</p>

        <br>
        <button type="button" class="btn btn-primary btn-lg buttonsave">Contact Us</button>
        <br>

        </div>
        <!-- <div class="col-md-6">
            <div class="cover">
                <div class="card">
                    <svg
                            class="back-bg"
                            width="100%" viewBox="0 0 900 700" style="position:absolute; z-index: -1">
                        <defs>
                            <linearGradient id="PSgrad_01" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                                <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                                <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                            </linearGradient>
                        </defs>
                        <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_01)"
                              d="M616.656,2.494 L89.351,98.948 C19.867,111.658 -16.508,176.639 7.408,240.130 L122.755,546.348 C141.761,596.806 203.597,623.407 259.843,609.597 L697.535,502.126 C748.221,489.680 783.967,441.432 777.751,392.742 L739.837,95.775 C732.096,35.145 677.715,-8.675 616.656,2.494 Z"/>
                    </svg>
                    

                    <svg width="100%" viewBox="0 0 700 500">
                        <clipPath id="clip-path">
                            <path d="M89.479,0.180 L512.635,25.932 C568.395,29.326 603.115,76.927 590.357,129.078 L528.827,380.603 C518.688,422.048 472.661,448.814 427.190,443.300 L73.350,400.391 C32.374,395.422 -0.267,360.907 -0.002,322.064 L1.609,85.154 C1.938,36.786 40.481,-2.801 89.479,0.180 Z"></path>
                        </clipPath>
                        
                        <image clip-path="url(#clip-path)" xlink:href="assets/images/learn-img.jpg" width="100%"
                               height="465" class="svg__image"></image>
                    </svg>
                </div>
            </div>
        </div> -->
        <div class="col-md-6 how-img">
            <img src="assets/images/learn-img1.jpg" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
</div>


<section>
    <div class="grid-flex faq">
        <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-library-sm.jpg);">
        &nbsp;
        </div>
        <div class="col col-text col-left">
        <div class="Aligner-item">
            <!-- <p>&ldquo;Simple is good.&rdquo;
            <cite>- Jim Henson</cite>
            </p> -->
            <h6>Save 50% on your Life Insurance Policy</h6>
            <br>
            <div *ngFor = "let content of plusMinus">
                <div class="bs-example">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i>{{content.title}}</button>									
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>{{content.desc}}<a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        </div>
    </div>
</section>


<!-- <section class="testimonial text-center">
    <div class="container">

        <div class="heading white-heading">
            Testimonial
        </div>
        <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
         
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 1</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 2</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 3</h4>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section> -->

<!-- <div class="blog">
    <div class="container blog-text-div-heading">
        <h6 class="blog-heading">Blog</h6>
    </div>

    <div class="container blog-text-div-tagline">
        <h3 class="blog-tagline">Latest news from our blog</h3>
    </div>

    <div class="container blog-card">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="card h-100 cardspace third" *ngFor = "let content of blog">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{content.title}}</h5>
                <p class="card-text">{{content.desc}}</p>
                </div>
                <div class="card-footer">
                <small class="text-muted">{{content.time}}</small>
                </div>
            </div>
        </div>
    </div>
</div> -->

    <div class="articles">
        <div class="article-text-div-heading">
            <h6 class="article-text">Articles</h6>
        </div>

        <div class="article-text-div-tagline">
            <h3 class="article-tagline">Mutual Funds for beginners</h3>
        </div>

        <div class="row article-insurance-card">
            <div class="card cardspace second" style="width: 21rem;" *ngFor="let content of services">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{content.cardTitle}}</h5>
                    <p class="card-text">{{content.desc}}</p>
                    <a href="#" class="btn btn-primary buttonservice">Learn more</a>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

<!-- <div class="container" id="calculator-section">
    <div class="pe-ppf-calculator" id="inflation-container">
      <form>
        <h2 class="pe-h2">
          Inflation Calculator
        </h2>
        <div class="form-group">
          <label class="pe-label" for="">Calculate the spending power of</label>
          <input aria-describedby="" class="form-control sb-comma-input pe-amount-input pe-box" id="ppf-amount-input"
            placeholder="Amount" type="text"  value="{{amount}}" maxlength="4" [(ngModel)]="amount" (keyup)="onchange($event,amount)">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <label class="pe-label" for="">in Year</label>
              <input type="text" class="form-control pe-box" id="inflation-year" maxlength="4" value="{{startyear}}" [(ngModel)]="startyear" (keyup)="onKeyPress($event,startyear)">
            </div>
            <div class="col-6">
              <label for="" id="year">Compared to Year</label>
              <input type="text" class="form-control pe-box" id="inflation-compare-year" maxlength="4" value="{{endyear}}" [(ngModel)]="endyear" (keyup)="onKeyPress($event,endyear)">
            </div>
          </div>
        </div>
      </form>
      <div class="inflation-input-box">
        <div class="pe-form-wrap">
          <form>
            <div class="input-section">
              <label class="infy-label">
                What if you invested that same amount?
              </label>
            </div>
            <div class="second-output-section">
              <div class="input-section">
                <div class="row">
                  <div class="col-md-9 col-lg-9 col-sm-9">
                    <label>The number of years of Investment</label>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3">
                      <input class="form-control" readonly=""  type="number" value="{{total}}" id="total" [(ngModel)]="total">
                  </div>
                </div>
              </div>
              <div class="input-section">
                <div class="row">
                  <div class="col-md-9 col-lg-9 col-sm-9">
                    <label>Expected rate of Return(%)</label>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-3">
                    <input class="form-control" readonly="" type="text" value="11.25%" id="rate">
                  </div>
                </div>
              </div>
              <p>At the end of that time horizon, you could have</p>
              <span class="amt-end-of-time-horizon">{{finalamount | currency:'INR' }}</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->