@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.how-section1{
    margin-top: 2px;
    padding: 5%;
    height: fit-content;
}
.how-section1 h4{
    font-size: 40px;
    font-weight: 700;
    color: #1b1dc7;
    margin-bottom: 16px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 3%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 40%;
}
.buttonsave
{
    border-radius: 8px;
    background: #1b1dc7;
    padding: 18px 32px 18px 32px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    float: left;
    position: relative;
}

.col-text {
    height:20em;
}
.grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row; 
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    margin-top: 10px;
}
.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.col-left {
    -webkit-box-ordinal-group:-1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}
.col-text{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.Aligner-item {
    width: 60%;
}
.col-image {
    background-size: cover;
    background-position:center center;
}

@media (max-width: 640px) {
    .grid-flex {
        height: 40em;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column; 
        }
    .col {
        order:vertical;
    }
    .col-left {
        -webkit-box-ordinal-group:0;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
    }
    .col-text div p {
        padding: 1em;
    }
    .Aligner-item {
        width: 90%;
    }
}

.Aligner-item h4
{
    color: #ffa500;
    font-weight: bold;
    font-size: 40px;
}

.bs-example{
    margin: 20px;
}
.accordion .fa{
    margin-right: 0.5rem;
}

.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}
.white-heading{
    color: #ffffff;
}
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    /* background: url(img/heading-line.png); */
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading span {
    color: #ffffff;
}


.row
{
    display: flex;
    flex-direction: row;
}

/* .justify1
{
    padding-left: 30%;
    font-size: 40px;
    font-weight: 700;
    color: #1b1dc7;
    margin-bottom: 16px;
    text-align: center;
} */

.cardspace
{
    /* margin: 1.2rem; */
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgb(5 47 95 / 4%), 
    0 12px 16px 0 rgb(52 105 203 / 12%);
}

.button1
{
    text-decoration: none;
    color: #000;
}

.first
{
    height: 183px;
    margin: 1.2rem;
}
.first:hover 
{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    /* border: 1px solid #19b24d; */
    border: 1px solid #1b1dc7;
    background-color: white;
}
    
.first:before 
{
    content: "";
    position: absolute;
    z-index: -1;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
}

.first:hover:before 
{
    transform: scale(2.15);
}
.first p
{
    font-size: 12px;
    font-weight: 600;
    color: #69829f;
    margin-bottom: 12px;

    font-family: 'Open Sans',sans-serif;

    vertical-align: baseline;
}
.first h6
{
    font-size: 14px;
    color: #052f5f;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
    transition: all .3s;
}

.service-insurance-card
{
    width: fit-content;
    margin-left: 0.5rem;
}

.second
{
    margin: 1.2rem;
}

.second p
{
    font-size: 15px;
    font-weight: 200;
    color: #69829f;
    margin-bottom: 12px;

    font-family: 'Open Sans',sans-serif;

    vertical-align: baseline;
}
.second h5
{
    font-size: 16px;
    color: #052f5f;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
    transition: all .3s;
}
.second:hover 
{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    /* border: 1px solid #19b24d; */
    border: 1px solid #1b1dc7;
    background-color: white;
}
    
.second:before 
{
    content: "";
    position: absolute;
    z-index: -1;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
}

.second:hover:before 
{
    transform: scale(2.15);
}

.buttonservice
{
    border-radius: 8px;
    background: #1b1dc7;
    padding: 15px 15px 15px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 8px;
    text-align: center;
    float: left;
    position: relative;
}
.buttonall
{
    border-radius: 8px;
    background: #1b1dc7;
    padding: 18px 32px 18px 32px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    float: left;
    position: relative;
}

.row
{
    padding: 10px;
}

.faq
{
    margin-top: 10px;
}

.third
{
    margin: 1.2rem;
}
.third p
{
    font-size: 15px;
    font-weight: 200;
    color: #69829f;
    margin-bottom: 12px;

    font-family: 'Open Sans',sans-serif;

    vertical-align: baseline;
}

.third h5
{
    font-size: 16px;
    color: #052f5f;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
    transition: all .3s;
}
.third:hover 
{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    /* border: 1px solid #19b24d; */
    border: 1px solid #1b1dc7;
    background-color: white;
}

.third:before 
{
    content: "";
    position: absolute;
    z-index: -1;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
}

.third:hover:before 
{
    transform: scale(2.15);
}

.services
{
    /* position: absolute; */
    /* width: 1366px; */
    height: fit-content;
    left: 0px;
    /* top: 0px; */
    /* margin-top: 2px; */
    padding: 5%;
}
.service-text
{
    /* position: absolute; */
    width: fit-content;
    height: 46px;
    left: 50%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #1b1dc7;
}

.service-tagline
{
    /* position: absolute; */
    width: fit-content;
    height: 99px;
    left: 436px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    /* or 149% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #00224F;
}

.service-text-div-heading
{
    width: fit-content;
    margin-left: 47%;
}

.service-text-div-tagline
{
    width: fit-content;
    margin-left: 33%;
    margin-right: 20%;
}
.service-all-button
{
    height: fit-content;
    width: fit-content;
    margin-left: 42.5%;
}

.products-card
{
    width: fit-content;
}

.blog
{
    /* position: absolute; */
    /* width: 1366px; */
    height: fit-content;
    left: 0px;
    /* right: 0px; */
    /* top: 0px; */
    /* margin-top: 2px; */
    padding: 5%;
    width: fit-content;
}
.blog-heading
{
    /* position: absolute; */
    width: fit-content;
    height: 46px;
    left: 50%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #1b1dc7;
}
.blog-tagline
{
    /* position: absolute; */
    width: fit-content;
    height: 99px;
    left: 436px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    /* or 149% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #00224F;
}
.blog-text-div-heading
{
    width: fit-content;
    margin-left: 47%;
}

.blog-text-div-tagline
{
    width: fit-content;
    margin-left: 33%;
    margin-right: 20%;
}
.blog-card
{
    width: fit-content;
    margin-left: 0.5rem;
}
.articles
{
    /* position: absolute; */
    /* width: 1366px; */
    height: fit-content;
    left: 0px;
    /* top: 0px; */
    /* margin-top: 2px; */
    padding: 5%;
}
.article-text
{
    /* position: absolute; */
    width: fit-content;
    height: fit-content;
    left: 50%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #1b1dc7;
}

.article-tagline
{
    /* position: absolute; */
    width: fit-content;
    height: 91px;
    left: 436px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    /* or 149% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #00224F;
}

.article-text-div-heading
{
    width: fit-content;
    height: fit-content;
    margin-left: 47%;
}

.article-text-div-tagline
{
    width: fit-content;
    height: fit-content;
    margin-left: 33%;
    margin-right: 20%;
}

/* -------------------------------------------------------------------- */

/* .container {
    width: 1140px;
    max-width: 100%;
}
.pe-h2 {
    font-size: 1.375rem;
    line-height: 1.1;
    padding-bottom: 1.5rem;
}
.pe-ppf-calculator {
    background: #ffffff;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 15%), 0px 12px 34px rgb(0 0 0 / 10%);
    border-radius: 6px;
    padding: 1.5rem;
}

.ppf-calculator .form-group {
    margin-bottom: 4px;
}
.ppf-calculator label {
    margin-bottom: 1px;
}
.pe-label {
    display: block;
    line-height: 1.2;
    color: #595959;
    font-size: 14px;
    margin-top: 30px;
}
#inflation-year{
    width:  35%;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
}
#year{
    margin-left: -60%;
    display: block;
    line-height: 1.2;
    color: #595959;
    font-size: 14px;
    margin-top: 30px; 
    
}
#inflation-compare-year{
    width:  38%;
    margin-left: -60%;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
}
#ppf-amount-input{
    width:  40%;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
 }
#inflation-container .inflation-input-box {
    background-color: #fafafa;
    margin: 27px 0px;
    padding: 14px;
    width : 40%;
}
.input-section {
    margin: 0 0 32px 0;
}
#inflation-container .infy-label {
    font-size: 18px;
    font-weight: bold;
    color: #383434;
    text-align: center;
    margin-left: 2px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.border-box {
    border: 1px solid #ced4db;
    margin-left: 0px;
    border-radius: 4px;
    padding: 5px 10px;
}
.second-output-section p, #inflation-container span {
    color: #077559 !important;
    font-weight: 600;
    font-size: 16px;
}
.input-section label, #inflation-container span {
    font-weight: 500;
    font-size: 18px;
}
#total{
    color: #077559 !important;
    font-weight: 600;
    font-size: 16px;
}
#rate{
    margin-left: -10%;
    width: 100%;
}
.border-box{
    margin-left: -10%;
    width: 100%;
} */
