<img src="./../.././../assets/images/eduPlanPoster.jpeg" class="img-fluid" alt="Responsive image">

<!-- <div class="how-section1 container">
  <div class="row">
    <div class="col-md-6 how-img">
      <img
        src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png"
        class="rounded-circle img-fluid"
        alt=""
      />
    </div>
    <div class="col-md-6">
      <h4>Education Planning</h4>
      <br />
      <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> 
      <p class="text-muted">
        Education planning involves setting aside funds to pay for future
        educational expenses, such as tuition, room and board, and other related
        costs.
      </p>

      <br />
      <a href="https://forms.gle/SW6xXkwuCzrSdaELA"
        ><button type="button" class="btn btn-primary btn-lg buttonsave">
          Contact Us
        </button></a>
    </div>
  </div>
</div> -->

<!-- <div class="container">
<h2 class="headings">There are several investment options available for education planning, including:</h2>
<ul>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4>
            <li class="text-muted">Mutual Funds: Mutual funds are professionally managed portfolios of stocks, bonds, and other securities. They offer the potential for higher returns over the long term and can be a good choice for education planning.</li>

            </div>
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4>
            <li class="text-muted">Insurance: Certain types of life insurance policies, such as whole life insurance and variable life insurance, provide a cash value component that can be used for education planning.</li>

            </div>
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4>
            <li class="text-muted">Fixed Deposits: Fixed deposits are savings accounts with a fixed interest rate that are offered by banks and financial institutions. They offer a low-risk option for education planning, as the interest rate is guaranteed for the term of the deposit.</li>

            </div>
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4>
            <li class="text-muted">Bonds: Bonds are debt securities issued by corporations or governments. They offer a fixed rate of return and can be a good choice for education planning for those who seek stability and predictability.</li>

            </div>
        </div>
    </div>
</ul>
<p text="muted">It's important to consider factors such as your risk tolerance, investment horizon, and financial goals when choosing the right investment options for education planning. It's also advisable to consult a financial advisor to help determine the best investment strategy for your specific situation.</p>
</div> -->

<div class="t_section_gap">
  <div class="row product-showcase_productShowCase__bCG48">
    <div class="col-12">
      <div class="container">
        <div class="product-showcase_addPadding__3vV0h">
          <h2 class="t_heading_primary t_heading_margin">
            There are several investment options available for education
            planning, including:
          </h2>
        </div>
        <div
          class="product-showcase_productShowCaseList__2XkQq t_body_top_margin"
        >
          <div class="product-showcase_productShowCaseListItem__1K4rW">
            <div
              class="product-showcase_productShowCaseListDescContainer__18jAZ product-showcase_applyRightBorder__3R8Mq"
            >
              <div class="product-showcase_listTitleContainer__1kfqf">
                <img
                  src="https://www.tataaig.com/s3/Health_Insurance_Changing_Lifestyle_f3f271bc72.svg"
                  alt="product-img"
                  height="76"
                  width="76"
                  loading="lazy"
                  decoding="async"
                />
                <h3
                  class="t_h3_heading_primary product-showcase_productShowCaseListTitle__s5qlg"
                >
                  Mutual funds
                </h3>
              </div>
              <div
                class="t_text product-showcase_productShowCaseListDesc__Xlk4s"
              >
                <p>
                  Mutual funds are professionally managed portfolios of stocks,
                  bonds, and other securities. They offer the potential for
                  higher returns over the long term and can be a good choice for
                  education planning.
                </p>
              </div>
            </div>
          </div>
          <div class="product-showcase_productShowCaseListItem__1K4rW">
            <div
              class="product-showcase_productShowCaseListDescContainer__18jAZ"
            >
              <div class="product-showcase_listTitleContainer__1kfqf">
                <img
                  src="https://www.tataaig.com/s3/Health_Insurance_Rupee_0be16e3ea6.svg"
                  alt="product-img"
                  height="76"
                  width="76"
                  loading="lazy"
                  decoding="async"
                />
                <h3
                  class="t_h3_heading_primary product-showcase_productShowCaseListTitle__s5qlg"
                >
                  Insuarance
                </h3>
              </div>
              <div
                class="t_text product-showcase_productShowCaseListDesc__Xlk4s"
              >
                <p>
                  Certain types of life insurance policies, such as whole life
                  insurance and variable life insurance, provide a cash value
                  component that can be used for education planning.
                </p>
              </div>
            </div>
          </div>
          <div class="product-showcase_productShowCaseListItem__1K4rW">
            <div
              class="product-showcase_productShowCaseListDescContainer__18jAZ product-showcase_applyRightBorder__3R8Mq"
            >
              <div class="product-showcase_listTitleContainer__1kfqf">
                <img
                  src="https://www.tataaig.com/s3/Health_Insurance_covid19_cover_2ba55b101b.svg"
                  alt="product-img"
                  height="76"
                  width="76"
                  loading="lazy"
                  decoding="async"
                />
                <h3
                  class="t_h3_heading_primary product-showcase_productShowCaseListTitle__s5qlg"
                >
                  Fixed deposit
                </h3>
              </div>
              <div
                class="t_text product-showcase_productShowCaseListDesc__Xlk4s"
              >
                <p>
                  Fixed deposits are savings accounts with a fixed interest rate
                  that are offered by banks and financial institutions. They
                  offer a low-risk option for education planning, as the
                  interest rate is guaranteed for the term of the deposit.
                </p>
              </div>
            </div>
          </div>
          <div class="product-showcase_productShowCaseListItem__1K4rW">
            <div
              class="product-showcase_productShowCaseListDescContainer__18jAZ"
            >
              <div class="product-showcase_listTitleContainer__1kfqf">
                <img
                  src="https://www.tataaig.com/s3/Health_Insurance_tax_benefits_c2ec96e35d.svg"
                  alt="product-img"
                  height="76"
                  width="76"
                  loading="lazy"
                  decoding="async"
                />
                <h3
                  class="t_h3_heading_primary product-showcase_productShowCaseListTitle__s5qlg"
                >
                  Bonds
                </h3>
              </div>
              <div
                class="t_text product-showcase_productShowCaseListDesc__Xlk4s"
              >
                <p>
                  Bonds are debt securities issued by corporations or
                  governments. They offer a fixed rate of return and can be a
                  good choice for education planning for those who seek
                  stability and predictability.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <div class="t_sub_heading_primary">
            <p>
              It's important to consider factors such as your risk tolerance,
              investment horizon, and financial goals when choosing the right
              investment options for education planning. It's also advisable to
              consult a financial advisor to help determine the best investment
              strategy for your specific situation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
