<img src="./../.././../assets/images/beginners guide to (1).png" class="img-fluid" alt="Responsive image">
<br>
<div class="container">
    <h4 class="headings">Fixed Deposits</h4>
    <div class="definition">
        <p text="muted">A fixed deposit (FD) is a type of savings account offered by banks and other financial institutions. It is a short-term investment option that allows individuals to deposit a lump sum of money for a fixed period of time, typically ranging from a few months to several years.</p>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">
                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">The key feature of a fixed deposit is that it offers a fixed rate of interest, which is generally higher than the rate of interest on a regular savings account. The interest rate is determined at the time the deposit is made and remains fixed for the duration of the deposit term.</p>

            </div>
            <div class="col-md-4 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-4 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
            </div>
            <div class="col-md-6">
                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">When the deposit matures, the depositor can either withdraw the principal and interest or choose to rollover the deposit for another term. Some banks also offer the option of automatic rollover, which allows the deposit to be automatically renewed for a specified period after maturity.</p>

            </div>
            
        </div>
    </div>
    <div class="how-section1">
        <div class="row">
            
            <div class="col-md-6">

                <br>
                            <!-- <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4> -->
            <p class="text-muted">Fixed deposits can be opened by any individual, company or HUF (Hindu Undivided Family). It is also one of the preferred options for senior citizens as they provide regular interest income and are easy to open and operate.</p>

            </div>
            <div class="col-md-4 how-img">
                <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
    </div>
</div>
